xsd/netex_framework/netex_responsibility/netex_versionFrame_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:core="http://www.govtalk.gov.uk/core" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_versionFrame_support">
	<xsd:include schemaLocation="netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines VERSION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_responsibility}netex_versionFrame_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - ENTITY types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: VERSION FRAME identifier  types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="VersionFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for the identifier of a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VersionFrameRef" type="VersionFrameRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForVersionFrameRefStructure">
		<xsd:restriction base="NameOfClass">
			<xsd:enumeration value="CompositeFrame"/>
			<xsd:enumeration value="DriverScheduleFrame"/>
			<xsd:enumeration value="FareFrame"/>
			<xsd:enumeration value="GeneralFrame"/>
			<xsd:enumeration value="InfrastructureFrame"/>
			<xsd:enumeration value="MobilityJourneyFrame"/>
			<xsd:enumeration value="MobilityServiceFrame"/>
			<xsd:enumeration value="ResourceFrame"/>
			<xsd:enumeration value="SalesTransactionFrame"/>
			<xsd:enumeration value="ServiceCalendarFrame"/>
			<xsd:enumeration value="ServiceFrame"/>
			<xsd:enumeration value="SiteFrame"/>
			<xsd:enumeration value="TimetableFrame"/>
			<xsd:enumeration value="VehicleScheduleFrame"/>
			<xsd:enumeration value="VersionFrame"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="VersionFrameRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a  VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VersionFrameIdType" use="required"/>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForVersionFrameRefStructure">
					<xsd:annotation>
						<xsd:documentation>The natural class for VersionFrameRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="FrameMemberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for the identifier of a VERSION FRAME MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="versionFrameRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VersionFrameRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="EntityInVersionInFrameRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a VERSION FRAME MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionOfObjectRefStructure">
				<xsd:attribute name="id" type="ObjectIdType"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="typeOfFrameRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>A collection of one or more TYPEs OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfFrameRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfFrameIdType">
		<xsd:annotation>
			<xsd:documentation>Type for the identifier of a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfFrameRef" type="TypeOfFrameRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTypeOfFrameRefStructure">
		<xsd:restriction base="NameOfRefClassForTypeOfValueRefStructure">
			<xsd:enumeration value="TypeOfFrame"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfFrameRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF VERSION FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfFrameIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF FRAME.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTypeOfFrameRefStructure" fixed="TypeOfFrame">
					<xsd:annotation>
						<xsd:documentation>The natural class for TypeOfFrameRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfValidityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for the identifier of a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfValidityRef" type="TypeOfValidityRefStructure" abstract="false" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTypeOfValidityRefStructure">
		<xsd:restriction base="NameOfRefClassForTypeOfValueRefStructure">
			<xsd:enumeration value="TypeOfValidity"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfValidityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF VALIDITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfValidityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF VALIDITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTypeOfValidityRefStructure" fixed="TypeOfValidity">
					<xsd:annotation>
						<xsd:documentation>The natural class for TypeOfValidityRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PeriodicityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Periodicity of data in FRAME TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="annual"/>
			<xsd:enumeration value="quarterly"/>
			<xsd:enumeration value="monthly"/>
			<xsd:enumeration value="weekly"/>
			<xsd:enumeration value="daily"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrameNatureEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Nature of data  in frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="planned"/>
			<xsd:enumeration value="operational"/>
			<xsd:enumeration value="contingencyPlan"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
