xsd/netex_part_3/part3_salesTransactions/netex_customerPurchasePackage_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_customerPurchasePackage_support">
	<xsd:include schemaLocation="../part3_fares/netex_salesPackage_support.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_accessRightParameter_support.xsd"/>
	<!-- =============================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.1 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2017-08-10</Created>
				</Date>
				<Date>
					<Modified>2017-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the CUSTOMER PURCHASE PACKAGE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransaction}netex_CustomerPurchasePackage_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Steam Intellect, London N1 1JS </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2017</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx CUSTOMER PURCHASE PACKAGE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: CUSTOMER PURCHASE PACKAGE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====CUSTOMER PURCHASE PACKAGE.======================================================== -->
	<xsd:complexType name="CustomerPurchasePackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="CustomerPurchasePackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="CustomerPurchasePackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackageRef" type="CustomerPurchasePackageRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====CUSTOMER PURCHASE PACKAGE ELEMENT.======================================================== -->
	<xsd:simpleType name="CustomerPurchasePackageElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackageElementRef" type="CustomerPurchasePackageElementRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackageElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackageElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === CUSTOMER PURCHASE PACKAGE PRICE====================================================== -->
	<xsd:simpleType name="CustomerPurchasePackagePriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FarePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerPurchasePackagePriceRef" type="CustomerPurchasePackagePriceRefStructure" substitutionGroup="FarePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CustomerPurchasePackagePriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FarePriceRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchasePackagePriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PACKAGE PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GROUP OF CUSTOMER PURCHASE PACKAGEs.======================================================== -->
	<xsd:complexType name="groupOfCustomerPurchasePackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a CUSTOMER PURCHASE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfCustomerPurchasePackagesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfCustomerPurchasePackagesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfCustomerPurchasePackagesRef" type="GroupOfCustomerPurchasePackagesRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfCustomerPurchasePackagesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfCustomerPurchasePackagesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF CUSTOMER PURCHASE PACKAGEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === GENERIC PARAMETER====================================================== -->
	<xsd:simpleType name="CustomerPurchaseParameterAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ValidityParameterAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="CustomerPurchaseParameterAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="ValidityParameterAssignmentRefStructure">
				<xsd:attribute name="ref" type="CustomerPurchaseParameterAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER PURCHASE PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
</xsd:schema>
