xsd/netex_part_3/part3_salesTransactions/netex_fareContract_logentries_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesTransaction_support">
	<xsd:include schemaLocation="netex_salesContract_support.xsd"/>
	<!-- =============================================================== -->
	
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>Arne Seime</Creator>
				<Date>
					<Created>2021-08-10</Created>
					Add Fare Contract log entries related to validation and control
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE CONTRACT LOG ENTRY types related to validation and control</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Language>[ISO 639-2/B] ENG</Language>
				<Rights>Unclassified
					<Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
						Air transport, Airports,
						Ports and maritime transport, Ferries (marine),
						Public transport, Bus services, Coach services, Bus stops and stations,
						Rail transport, Railway stations and track, Train services, Underground trains,
						Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
						Rail transport, Roads and Road transport
					</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx CUSTOMER ACCOUNT USE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: CUSTOMER ACCOUNT USE identifier types.</xsd:documentation>	</xsd:annotation>
	<!-- ====VALIDATION ENTRY.======================================================== -->
	<xsd:simpleType name="ValidationEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="ValidationEntryRef" type="ValidationEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VALIDATION ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ValidationEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a VALIDATION ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="ValidationEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VALIDATION ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER TRAVEL ENTRY.======================================================== -->
	<xsd:simpleType name="PassengerTravelEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerTravelEntryRef" type="PassengerTravelEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER TRAVEL ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerTravelEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER TRAVEL ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="PassengerTravelEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER TRAVEL ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER VALIDATE TRAVEL ENTRY.======================================================== -->
	<xsd:simpleType name="PassengerValidateTravelEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerValidateTravelEntryRef" type="PassengerValidateTravelEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER VALIDATE TRAVEL ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerValidateTravelEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER VALIDATE TRAVEL ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="PassengerValidateTravelEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER VALIDATE TRAVEL ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PASSENGER USED SAME STOP ENTRY.======================================================== -->
	<xsd:simpleType name="PassengerUsedSameStopEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerUsedSameStopEntryRef" type="PassengerUsedSameStopEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER USED SAME STOP ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerUsedSameStopEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PASSENGER USED SAME STOP ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="PassengerUsedSameStopEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER USED SAME STOP ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>

	<!-- ====FULFILMENT ENTRY.======================================================== -->
	<xsd:simpleType name="FulfilmentEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="FulfilmentEntryRef" type="FulfilmentEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FulfilmentEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="FulfilmentEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FULFILMENT ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====PURCHASE FULFILMENT ENTRY.======================================================== -->
	<xsd:simpleType name="PurchaseFulfilmentEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PURCHASE FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="PurchaseFulfilmentEntryRef" type="PurchaseFulfilmentEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PURCHASE FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PurchaseFulfilmentEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PURCHASE FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="PurchaseFulfilmentEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PURCHASE FULFILMENT ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====MAPPING FULFILMENT ENTRY.======================================================== -->
	<xsd:simpleType name="MappingFulfilmentEntryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MAPPING FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FareContractEntryIdType"/>
	</xsd:simpleType>
	<xsd:element name="MappingFulfilmentEntryRef" type="MappingFulfilmentEntryRefStructure" abstract="false" substitutionGroup="FareContractEntryRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MAPPING FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MappingFulfilmentEntryRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MAPPING FULFILMENT ENTRY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FareContractEntryRefStructure">
				<xsd:attribute name="ref" type="MappingFulfilmentEntryIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MAPPING FULFILMENT ENTRY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
