xsd/netex_part_3/part3_salesTransactions/netex_salesTransaction_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_salesTransaction_version">
	<xsd:include schemaLocation="netex_salesTransaction_support.xsd"/>
	<xsd:include schemaLocation="../part3_PiQuery/netex_piRequest_support.xsd"/>
	<xsd:include schemaLocation="netex_salesContract_version.xsd"/>
	<xsd:include schemaLocation="../part3_fares/netex_salesOfferPackage_version.xsd"/>
	<xsd:include schemaLocation="netex_customerPurchasePackage_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date>
					<Modified>2017-11-08</Modified>Revise so  FareRef is more general PassengerInformationRequestRef
				</Date>
				<Date>
					<Modified>2017-08-10</Modified>
									 Align with TM6
					Rename Passenger Contract   to FareContract.
					Rename Passenger Contract Event to FareContractEntry.
					Rename Type of Passenger Contract  to TypeOfFareContract.
					Adjust References in Dependent packages.
					Add links to CustomerPurchasePackage(s) and TravelSpecifcation(s)
				</Date>
				<Date>
					<Modified>2019-03-02</Modified>UK-09 Add TypeOfTariffRef  and FareElementInSequenceRef to TravelSpecification  so that can  correctly specify choices
				</Date>
				<Date>
					<Modified>2019-03-09</Modified>EURA-54 Add a SeatRef   and RetailDeviceRef parameter to TravelSpecification
										Add   TravelDOcumentRef and  RetailDeviceRef parameter to SalesTarsnaction
										Fix may RetailingOrganisationRef an OrgansiationOperatorRefStructure and not an OperatorRefStructure
				</Date>
				<Date>
					<Modified>2019-03-10</Modified>UK-28 Add a CustomerAccountRef to  FareContract										 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES TRANSACTION types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_salesTransactions}netex_salesTransaction_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES TRANSACTION    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: SALES TRANSACTION  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===ENTIITY IN VERSION IN FRAME====Used in SERVICE FRAME)=================================================== -->
	<xsd:group name="SalesTransactionInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES TRANSACTION in Frame.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="travelSpecifications" type="travelSpecificationsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES TRANSACTIONs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="salesTransactions" type="salesTransactionsInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SALES TRANSACTIONs in FRAME.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="salesTransactionsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES TRANSACTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="SalesTransaction" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="travelSpecificationsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of SALES TRANSACTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="TravelSpecification" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====SALES TRANSACTION ================================================ -->
	<xsd:complexType name="salesTransactions_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SALES TRANSACTIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="SalesTransactionRef"/>
					<xsd:element ref="SalesTransaction"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SalesTransaction" abstract="false" substitutionGroup="FareContractEntry_">
		<xsd:annotation>
			<xsd:documentation>A SALE OF a FIXED PACKAGE or a SALE OF a RELOADABLE PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SalesTransaction_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LogEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareContractEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SalesTransactionGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SalesTransactionIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SalesTransaction_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareContractEntry_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SalesTransactionGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SalesTransactionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SalesTransactionPaymentGroup"/>
			<xsd:group ref="SalesTransactionPurchaseGroup"/>
			<xsd:group ref="SalesTransactionFulfilmentGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesTransactionPaymentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Amount" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Amount of SALES TRANSACTION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PriceUnitRef" minOccurs="0"/>
			<xsd:element name="PaymentMethod" type="PaymentMethodEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Method of payment used,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PaymentMethodRef" minOccurs="0"/>
			<xsd:element name="CardNumber" type="PrivateCodeStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Card number used,</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesTransactionPurchaseGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="travelSpecifications" type="travelSpecifications_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Travel Specifcations bought  by Salles Transaction</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="customerPurchasePackages" type="customerPurchasePackages_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Customer Pucrhase PAckages ought by Salles Transaction</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SalesTransactionFulfilmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SALES TRANSACTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TravelDocumentRef" minOccurs="0"/>
			<xsd:element name="CollectionPointRef" type="Point_VersionStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point at which to be collected.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CollectionNote" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Note on how to collect.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="OrganisationalUnitRef" minOccurs="0"/>
			<xsd:element ref="RetailDeviceRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SPECIFIC PARAMETER ASSIGNMENT=================================================== -->
	<xsd:complexType name="specificParameterAssignments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SPECIFIC ACCESS RIGHT PARAMETERs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SpecificParameterAssignment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SpecificParameterAssignment" abstract="false" substitutionGroup="AccessRightParameterAssignment_">
		<xsd:annotation>
			<xsd:documentation>A VALIDITY PARAMETER ASSIGNMENT specifying practical parameters during a TRAVEL SPECIFICATION, within a given fare structure (e.g. the origin or destination zone in a zone-counting system).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpecificParameterAssignment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="DataManagedObjectGroup"/>
							</xsd:sequence>
							<xsd:sequence>
								<xsd:group ref="AssignmentGroup"/>
							</xsd:sequence>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessRightParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ValidityParameterAssignmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpecificParameterAssignmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpecificParameterAssignmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpecificParameterAssignment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for SPECIFIC PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ValidityParameterAssignment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SpecificParameterAssignmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpecificParameterAssignmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SPECIFIC PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="SpecificParameterAssignmentIncludesGroup"/>
			<xsd:element ref="DistributionAssignmentRef" minOccurs="0"/>
			<xsd:element name="RetailingOrganizationRef" type="OrganisationRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Organizatio that sold product. instance.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CollectionPointRef" type="PointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Point at which to collect  travel document.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="SpecificParameterAssignmentIncludesGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Compound SPECIFIC PARAMETER ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IncludesGroupingType" type="BooleanOperatorEnumeration" default="OR" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Operator for Grouping Scope Elements. Default is OR.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="includes" type="specificParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Assignments Logically  included in this group. Groups are combined acording to the Operator.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====SALES TRANSACTION ================================================ -->
	<xsd:complexType name="travelSpecifications_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRAVEL SPECIFICATIONs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="TravelSpecificationRef"/>
					<xsd:element ref="TravelSpecification"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="TravelSpecification" abstract="false" substitutionGroup="FareContractEntry_">
		<xsd:annotation>
			<xsd:documentation>The recording of a specification by a customer of parameters giving details of an intended consumption (e.g. origin and destination of a travel).</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelSpecification_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LogEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FareContractEntryGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TravelSpecificationGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TravelSpecificationIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelSpecification_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FareContractEntry_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="TravelSpecificationGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelSpecificationGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SalesTransactionRef" minOccurs="0"/>
			<xsd:element ref="PassengerInformationRequestRef" minOccurs="0"/>
			<xsd:group ref="TravelSpecificationPriceGroup">
				<xsd:annotation>
					<xsd:documentation>Price reference Elements for TRAVEL SPECIFICATION - this may be used to indicate the source of the price shown on the on the entity.</xsd:documentation>
				</xsd:annotation>
			</xsd:group>
			<xsd:element name="StartOfValidity" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start Validity of Purchased PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndOfValidity" type="xsd:dateTime" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End Validity of Purchased PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="specificParameterAssignments" type="specificParameterAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SPECIFIC PARAMETER ASSIGNMENTS for  TRAVEL SPECIFICATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="noticeAssignments" type="noticeAssignments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>NOTICE  ASSIGNMENTS  applying to TRAVEL SPECIFICATION.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="TravelSpecificationPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Price lements for TRAVEL SPECIFICATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:choice minOccurs="0">
				<xsd:element ref="FarePriceRef"/>
				<xsd:element name="CelRef_"/>
			</xsd:choice>
			<xsd:element name="Amount" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Price of specified PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="PriceUnitRef" minOccurs="0"/>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of units of PRODUCT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
