xsd/netex_framework/netex_genericFramework/netex_place_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_place_support">
	<xsd:include schemaLocation="../netex_genericFramework/netex_zone_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified> Name Space changes 
				</Date>
				<Date><Modified>2019-02-07</Modified>Mark PlaceRef_ as Abstract
							 Add dummGroupOfPlaceRefs so that all place tpesrefs can be included   
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the PLACE TYPES </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_genericFramework}netex_place_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx PLACE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ====Place========================================================== -->
	<xsd:complexType name="placeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PlaceRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ZoneIdType"/>
	</xsd:simpleType>
	<xsd:element name="PlaceRef_" type="VersionOfObjectRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PlaceRef" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PlaceRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPlaceRefStructure">
		<xsd:restriction base="NameOfRefClassForGroupOfEntitiesRefStructure">
			<xsd:enumeration value="AccessSpace"/>
			<xsd:enumeration value="Address"/>
			<xsd:enumeration value="AddressablePlace"/>
			<xsd:enumeration value="BoardingPosition"/>
			<xsd:enumeration value="DeckPathJunction"/>
			<xsd:enumeration value="Entrance"/>
			<xsd:enumeration value="EquipmentPlace"/>
			<xsd:enumeration value="EquipmentPosition"/>
			<xsd:enumeration value="FlexibleArea"/>
			<xsd:enumeration value="FlexibleQuay"/>
			<xsd:enumeration value="FlexibleStopPlace"/>
			<xsd:enumeration value="Garage"/>
			<xsd:enumeration value="GenericPathJunction"/>
			<xsd:enumeration value="GroupOfEntities"/>
			<xsd:enumeration value="HailAndRideArea"/>
			<xsd:enumeration value="MonitoredVehicleSharingParkingBay"/>
			<xsd:enumeration value="Parking"/>
			<xsd:enumeration value="ParkingArea"/>
			<xsd:enumeration value="ParkingBay"/>
			<xsd:enumeration value="ParkingEntranceForVehicles"/>
			<xsd:enumeration value="ParkingPassengerEntrance"/>
			<xsd:enumeration value="PathJunction"/>
			<xsd:enumeration value="Place"/>
			<xsd:enumeration value="PointOfInterest"/>
			<xsd:enumeration value="PointOfInterestEntrance"/>
			<xsd:enumeration value="PointOfInterestSpace"/>
			<xsd:enumeration value="PointOfInterestVehicleEntrance"/>
			<xsd:enumeration value="PostalAddress"/>
			<xsd:enumeration value="Quay"/>
			<xsd:enumeration value="RoadAddress"/>
			<xsd:enumeration value="ServiceSite"/>
			<xsd:enumeration value="Site"/>
			<xsd:enumeration value="SiteComponent"/>
			<xsd:enumeration value="SiteElement"/>
			<xsd:enumeration value="SitePathJunction"/>
			<xsd:enumeration value="StopPlace"/>
			<xsd:enumeration value="StopPlaceEntrance"/>
			<xsd:enumeration value="StopPlaceSpace"/>
			<xsd:enumeration value="StopPlaceVehicleEntrance"/>
			<xsd:enumeration value="TaxiParkingArea"/>
			<xsd:enumeration value="TaxiRank"/>
			<xsd:enumeration value="TaxiStand"/>
			<xsd:enumeration value="TopographicPlace"/>
			<xsd:enumeration value="VehicleEntrance"/>
			<xsd:enumeration value="VehicleMeetingPlace"/>
			<xsd:enumeration value="VehiclePoolingMeetingPlace"/>
			<xsd:enumeration value="VehiclePoolingParkingArea"/>
			<xsd:enumeration value="VehiclePoolingParkingBay"/>
			<xsd:enumeration value="VehicleSharingParkingArea"/>
			<xsd:enumeration value="VehicleSharingParkingBay"/>
			<xsd:enumeration value="VehicleStoppingPlace"/>
			<xsd:enumeration value="VehicleStoppingPosition"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="PlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPlaceRefStructure" default="Place">
					<xsd:annotation>
						<xsd:documentation>The natural class for PlaceRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="dummyPlaceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PlaceRef_" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="transferRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TransferRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransferIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransferRef" type="TransferRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSFER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTransferRefStructure">
		<xsd:restriction base="NameOfClass">
			<xsd:enumeration value="Access"/>
			<xsd:enumeration value="Connection"/>
			<xsd:enumeration value="DefaultConnection"/>
			<xsd:enumeration value="SiteConnection"/>
			<xsd:enumeration value="Transfer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TransferRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TransferIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRANSFER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTransferRefStructure">
					<xsd:annotation>
						<xsd:documentation>The natural class for TransferRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:complexType name="accessRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to an ACCESS link.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="AccessRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="AccessIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCESS link.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TransferIdType"/>
	</xsd:simpleType>
	<xsd:element name="AccessRef" type="AccessRefStructure" substitutionGroup="TransferRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACCESS link.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForAccessRefStructure">
		<xsd:restriction base="NameOfRefClassForTransferRefStructure">
			<xsd:enumeration value="Access"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AccessRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACCESS link.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TransferRefStructure">
				<xsd:attribute name="ref" type="AccessIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ACCESS link.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForAccessRefStructure" fixed="Access">
					<xsd:annotation>
						<xsd:documentation>The natural class for AccessRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfTransferIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfTransferRef" type="TypeOfTransferRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF TRANSFER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTypeOfTransferRefStructure">
		<xsd:restriction base="NameOfRefClassForTypeOfValueRefStructure">
			<xsd:enumeration value="TypeOfTransfer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfTransferRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF TRANSFER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfTransferIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF TRANSFER identifier.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTypeOfTransferRefStructure" fixed="TypeOfTransfer">
					<xsd:annotation>
						<xsd:documentation>The natural class for TypeOfTransferRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfPlaceRef" type="TypeOfPlaceRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTypeOfPlaceRefStructure">
		<xsd:restriction base="NameOfRefClassForTypeOfValueRefStructure">
			<xsd:enumeration value="TypeOfPlace"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfPlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTypeOfPlaceRefStructure" fixed="TypeOfPlace">
					<xsd:annotation>
						<xsd:documentation>The natural class for TypeOfPlaceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:complexType name="typeOfPlaceRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPE OF PLACEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfPlaceRef" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
