xsd/netex_part_2/part2_driverManagement/netex_duty_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_duty_version">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_organisation_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_employee_support.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_dayType_support.xsd"/>
	<xsd:include schemaLocation="netex_dutyType_support.xsd"/>
	<xsd:include schemaLocation="../part2_frames/netex_timetableFrame_support.xsd"/>
	<xsd:include schemaLocation="../part2_journeyTimes/netex_vehicleService_support.xsd"/>
	<xsd:include schemaLocation="netex_duty_support.xsd"/>
	<xsd:include schemaLocation="netex_dutyType_version.xsd"/>
	<xsd:include schemaLocation="netex_dutyStretch_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified> Name Space changes  
				</Date>
				<Date><Modified>2018-02-25</Modified>Skinkie: Fix:  #35 Correct Case on AccountingTime.  Also Renamed DayOffset to EndDayOffset
						Also changed VehicleModeEnumeration   to AllVehicleModesOfTransportEnumeration to allow for non vehicle modes.
				</Date>
				<Date><Modified>2019-03-25</Modified>NJSK : Fix:  Revise to Add separate  EndDayOffset. NB this changes DayOffset to mean start day offset 
				</Date>
				<Date><Modified>2023-02-15</Modified>NJSK : Fix:  Add DayType to Duty 
				</Date>
				<Date><Modified>2023-02-15</Modified>Add missing Duty Elements: TYPE OF DUTY, SPLIT DUTY TYPE, CONTINUOUS DUTY TYPE TYPE
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DUTY types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_vehicleService}netex_duty_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DUTY    types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: DUTY  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:group name="DutyFrameGroup">
		<xsd:annotation>
			<xsd:documentation>DUTY Elements for a  FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="dutyTypes" type="dutyTypesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DUTIes in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="duties" type="dutiesInFrame_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DUTIes in frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dutyParts" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>DUTY PARTs (Runs) in frame.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="dutyPartsInFrame_RelStructure"/>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="dutiesInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DUTies.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="Duty" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="dutyPartsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of DUTY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DutyPart" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>A continuous part of a driver DUTY during which (s)he is under the management of the company. A DUTY PART may include BREAKs. 
.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === DUTY ================================================== -->
	<xsd:element name="Duty" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The work to be performed by a driver on a particular DAY TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Duty_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DutyGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DutyIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Duty_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for DUTY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="DutyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DutyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DUTY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name  of DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="DutyTypeRef" minOccurs="0"/>
			<xsd:group ref="DutyTimingGroup"/>
			<xsd:element ref="TimetableFrameRef" minOccurs="0"/>
			<xsd:element ref="OrganisationalUnitRef" minOccurs="0"/>
			<xsd:element name="typesOfQualification" type="typesOfQualificationRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TYPEs of QUALIFICATION  required to undertake DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dutyParts" type="dutyParts_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Parts of a DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DutyTimingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DUTY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DayTypeRef" minOccurs="0"/>
			<xsd:element name="Duration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of  DUTY</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PreparationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time to complete DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FinishingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time to complete DUTY.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== DUTY PARTS ================================================== -->
	<xsd:complexType name="dutyParts_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of DUTY PARTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="DutyPart" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="DutyPart" abstract="false" substitutionGroup="TimeAccountableActivity_">
		<xsd:annotation>
			<xsd:documentation>A continuous part of a driver DUTY during which (s)he is under the management of the company. A DUTY PART may include BREAKs.
.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="DutyPart_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccountableActivityGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TimeAccountableActivityGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DutyPartGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="DutyPartIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="DutyPart_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a DUTY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TimeAccountableActivity_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="DutyPartGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="DutyPartGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a DUTY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="DutyPartTimingsGroup"/>
			<xsd:group ref="TimeRangeGroup"/>
			<xsd:group ref="DutyPartSpanGroup"/>
			<xsd:element name="stretches" type="stretches_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>STRETCHes making up DUTY PART</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="pauses" type="pauses_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>PAUSES present in DUTY PART</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DutyPartTimingsGroup">
		<xsd:annotation>
			<xsd:documentation>Timing Elements for a DUTY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DriverAccessDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for DRIVER to access DUTY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DriverReturnDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for DRIVER to return from DUTY PART.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DriverPreparationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for DRIVER to prepare for DUTY PART. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DriverFinishingDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Time for DRIVER to finish up after DUTY PART. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DutyPartSpanGroup">
		<xsd:annotation>
			<xsd:documentation>Applicability Span Elements for a DUTY PART.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="DutyRef" minOccurs="0"/>
			<xsd:element name="StartPointRef" type="TimingPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING POINT at which DUTY PART starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndPointRef" type="TimingPointRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TIMING POINT at which DUTY PART starts.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
