xsd/netex_part_5/netex_fleetEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_fleetEquipment_version">
	<xsd:include schemaLocation="netex_fleetEquipment_support.xsd"/>
	<xsd:include schemaLocation="../netex_framework/netex_responsibility/netex_responsibility_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2020-10-07</Created>
				</Date>
				<Date>
					<Modified>2020-10-07</Modified>New Modes add profiles 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FLEET EQUIPMENT Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_vehicleType_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx  FLEET EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>FLEET EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== MODEL PROFILE ======================================================== -->
	<!-- ======  MODEL EQUIPMENT PROFILE ====================================== -->
	<xsd:element name="ModelEquipmentProfile_" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>DUMMY TYPE tp Work around SG restrictions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DataManagedObjectStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="ModelEquipmentProfile" abstract="true">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a MODEL EQUIPMENT PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="ModelEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:group ref="ModelEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="ModelEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of MODEL EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ModelEquipmentProfile_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a MODEL EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:group ref="ModelEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="ModelEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MODEL EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of VEHCILE MODEL.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfGears" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of Gears</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BabySeat" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a BabySeat/</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =======CAR EQUIPMENT PROFILE================================================== -->
	<xsd:element name="CarEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a CAR EQUIPMENT PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CarEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of VEHCILE MODEL.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NumberOfGears" type="xsd:nonNegativeInteger" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Number of Gears</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BabySeat" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether there is a BabySeat/</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:group ref="CarEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="CarEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of CAR EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CarEquipmentProfile_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CAR EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ModelEquipmentProfile_VersionStructure">
				<xsd:group ref="CarEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CarEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CAR EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Transmission" type="TransmissionEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of Transmission</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RoofRack" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>WHether vehicle has a roof rack.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WinterTyres" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicel has winter tyres.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Chains" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicel has remopvable chains.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AirConditioning" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicel has remopvable chains.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SatNav" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether vehicel has satellite navigation.s.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======= CYCLE EQUIPMENT PROFILE================================================== -->
	<xsd:element name="CycleEquipmentProfile" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A set of characteristics of equipment installed on-board and characterising a CYCLE EQUIPMENT PROFILE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="CycleEquipmentProfile_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="Name" type="MultilingualString" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Name of VEHCILE MODEL.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="NumberOfGears" type="xsd:nonNegativeInteger" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Number of Gears</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="BabySeat" type="xsd:boolean" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>Whether there is a BabySeat/</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
						<xsd:group ref="CycleEquipmentProfileGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="CycleEquipmentProfileIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of CYCLE EQUIPMENT PROFILE.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="CycleEquipmentProfile_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a CYCLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ModelEquipmentProfile_VersionStructure">
				<xsd:group ref="CycleEquipmentProfileGroup"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="CycleEquipmentProfileGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a CYCLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="GearTypeDescriotion" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of gearing.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Battery" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a Battery</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Lamps" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there iare lights.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Helmet" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there iare is a helmet. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Pump" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there iare is a pump. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Locker" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there iis a lockable luggae container.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Basket" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there iis a basket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
