xsd/netex_part_5/part5_fm/netex_nm_mobilityServiceElement_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.10" id="netex_mobilityServiceElement_version">
	<xsd:include schemaLocation="../part5_nd/netex_nm_vehicleMeetingPoint_support.xsd"/>
	<xsd:include schemaLocation="netex_nm_mobilityServiceElement_support.xsd"/>
	<xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_farePrice_version.xsd"/>
	<xsd:include schemaLocation="../../netex_part_3/part3_fares/netex_fareTable_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2020-10-15</Created>New Modes
				</Date>
				<Date>
					<Modified>2020-10-15</Modified>New modes
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the MOBILITY SERVICE ELEMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_mobilityServiceElement_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2019-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel standard.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx MOBILITY SERVICE ELEMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx MOBILITY SERVICE ELEMENT types.</xsd:documentation>
	</xsd:annotation>
	<!-- === ENTIITY IN VERSION IN FRAME= === ================================================== -->
	<xsd:group name="MobilityServiceElementsInFrameGroup">
		<xsd:annotation>
			<xsd:documentation>MOBILITY SERVICE ELEMENTs in FRAME.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="mobilityServiceElements" type="mobilityServiceElements_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MOBILITY SERVICE ELEMENTs in Frame.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="mobilityServiceElementsInFrame_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for containment in frame of MOBILITY SERVICE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="frameContainmentStructure">
				<xsd:sequence>
					<xsd:element ref="MobilityServiceElement" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- === MOBILITY SERVICE ELEMENT  ================================================= -->
	<xsd:complexType name="mobilityServiceElements_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MOBILITY SERVICE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="MobilityServiceElementRef"/>
					<xsd:element ref="MobilityServiceElement"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MobilityServiceElement" abstract="false" substitutionGroup="PriceableObject">
		<xsd:annotation>
			<xsd:documentation>A cell of an origin-destination matrix for TARIFF ZONEs or STOP POINTs, expressing a fare distance for the corresponding trip: value in km, number of fare units etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobilityServiceElement_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityServiceElementGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobilityServiceElementIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityServiceElement_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MOBILITY SERVICE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PriceableObject_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MobilityServiceElementGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MobilityServiceElementGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY SERVICE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="MobilityServiceElementDetailsGroup"/>
			<xsd:group ref="MobilityServiceElementODGroup"/>
			<xsd:group ref="MobilityServiceElementPricingGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="MobilityServiceElementODGroup">
		<xsd:annotation>
			<xsd:documentation>Origin Destination Elements for a MOBILITY SERVICE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="VehicleMeetingLinkRef"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="MobilityServiceElementDetailsGroup">
		<xsd:annotation>
			<xsd:documentation>Detail Elements for a MOBILITY SERVICE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Distance" type="DistanceType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>MOBILITY SERVICE ELEMENT to use when advertising Train -If different from Id.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RelativeRanking" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Relative preference assigned to this element if there are multiple entries between two points.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsDirect" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether considered as direct fare.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InverseAllowed" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether an inverse element in the opposite direction can be assumed with the same prices. (Optimisation to reduce  data exchanged)</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="MobilityServiceElementPricingGroup">
		<xsd:annotation>
			<xsd:documentation>Pricing Elements for a MOBILITY SERVICE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="tariffs" type="tariffRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>TARIFFs applying to element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="FareTableRef" minOccurs="0"/>
			<xsd:element name="prices" type="mobilityServiceElementPrices_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>prices associated with DSISTANCE MATRIX ELEMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- == MOBILITY SERVICE ELEMENT PRICE.================================ -->
	<xsd:complexType name="mobilityServiceElementPrices_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of MOBILITY SERVICE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="MobilityServiceElementPriceRef"/>
					<xsd:element ref="MobilityServiceElementPrice"/>
					<xsd:element ref="CellRef_"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="MobilityServiceElementPrice" substitutionGroup="FarePrice_">
		<xsd:annotation>
			<xsd:documentation>A set of all possible price features of a MOBILITY SERVICE ELEMENT: default total price etc.
.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MobilityServiceElementPrice_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FarePriceGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MobilityServiceElementPriceGroup" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MobilityServiceElementPriceIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MobilityServiceElementPrice_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a MOBILITY SERVICE ELEMENT PRICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="FarePrice_VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="MobilityServiceElementPriceGroup" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MobilityServiceElementPriceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a MOBILITY SERVICE ELEMENT PRICe.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="MobilityServiceElementRef"/>
			<xsd:sequence>
				<xsd:element ref="MobilityServiceElementRef"/>
			</xsd:sequence>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
