xsd/netex_part_3/part3_fares/netex_farePrice_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_farePrice_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_grouping_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified> Name Space changes
				</Date>
				<Date><Modified>2018-04-23</Modified> CR0047 Fix add Result Step IdType
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the FARE PRICE identifier types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_farePrice_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE PRICE identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: FARE PRICE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ===  PRICEABLE ELEMENT====================================================== -->
	<!-- ===  PRICEABLE ELEMENT====================================================== -->
	<xsd:complexType name="priceableObjectRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PRICEABLE ELEMENTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="PriceableObjectRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="PriceableObjectIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICEABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PriceableObjectRef" type="PriceableObjectRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICEABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPriceableObjectRefStructure">
		<xsd:restriction base="NameOfClass">
			<xsd:enumeration value="AdditionalDriverOption"/>
			<xsd:enumeration value="AmountOfPriceUnitProduct"/>
			<xsd:enumeration value="BookingPolicy"/>
			<xsd:enumeration value="Cancelling"/>
			<xsd:enumeration value="CappedDiscountRight"/>
			<xsd:enumeration value="CappingRule"/>
			<xsd:enumeration value="ChargingPolicy"/>
			<xsd:enumeration value="CommercialProfile"/>
			<xsd:enumeration value="CompanionProfile"/>
			<xsd:enumeration value="ControllableElement"/>
			<xsd:enumeration value="CustomerPurchasePackage"/>
			<xsd:enumeration value="CustomerPurchasePackageElement"/>
			<xsd:enumeration value="DistanceMatrixElement"/>
			<xsd:enumeration value="EligibilityChangePolicy"/>
			<xsd:enumeration value="EntitlementGiven"/>
			<xsd:enumeration value="EntitlementProduct"/>
			<xsd:enumeration value="EntitlementRequired"/>
			<xsd:enumeration value="Exchanging"/>
			<xsd:enumeration value="FareDemandFactor"/>
			<xsd:enumeration value="FareInterval"/>
			<xsd:enumeration value="FareProduct"/>
			<xsd:enumeration value="FareQuotaFactor"/>
			<xsd:enumeration value="FareStructureElement"/>
			<xsd:enumeration value="FareStructureFactor"/>
			<xsd:enumeration value="FareUnit"/>
			<xsd:enumeration value="FrequencyOfUse"/>
			<xsd:enumeration value="FulfilmentMethod"/>
			<xsd:enumeration value="GeographicalInterval"/>
			<xsd:enumeration value="GeographicalStructureFactor"/>
			<xsd:enumeration value="GeographicalUnit"/>
			<xsd:enumeration value="GroupTicket"/>
			<xsd:enumeration value="Interchanging"/>
			<xsd:enumeration value="LuggageAllowance"/>
			<xsd:enumeration value="MinimumStay"/>
			<xsd:enumeration value="ParkingChargeBand"/>
			<xsd:enumeration value="PenaltyPolicy"/>
			<xsd:enumeration value="PreassignedFareProduct"/>
			<xsd:enumeration value="PriceableObject"/>
			<xsd:enumeration value="PurchaseWindow"/>
			<xsd:enumeration value="QualityStructureFactor"/>
			<xsd:enumeration value="Refunding"/>
			<xsd:enumeration value="RentalOption"/>
			<xsd:enumeration value="RentalPenaltyPolicy"/>
			<xsd:enumeration value="Replacing"/>
			<xsd:enumeration value="Reselling"/>
			<xsd:enumeration value="Reserving"/>
			<xsd:enumeration value="RoundTrip"/>
			<xsd:enumeration value="Routing"/>
			<xsd:enumeration value="SaleDiscountRight"/>
			<xsd:enumeration value="SalesOfferPackage"/>
			<xsd:enumeration value="SalesOfferPackageElement"/>
			<xsd:enumeration value="SalesOfferPackageEntitlementGiven"/>
			<xsd:enumeration value="SalesOfferPackageEntitlementRequired"/>
			<xsd:enumeration value="SeriesConstraint"/>
			<xsd:enumeration value="ServiceAccessRight"/>
			<xsd:enumeration value="StepLimit"/>
			<xsd:enumeration value="Subscribing"/>
			<xsd:enumeration value="SupplementProduct"/>
			<xsd:enumeration value="Suspending"/>
			<xsd:enumeration value="ThirdPartyProduct"/>
			<xsd:enumeration value="TimeInterval"/>
			<xsd:enumeration value="TimeStructureFactor"/>
			<xsd:enumeration value="TimeUnit"/>
			<xsd:enumeration value="Transferability"/>
			<xsd:enumeration value="UsageDiscountRight"/>
			<xsd:enumeration value="UsageParameter"/>
			<xsd:enumeration value="UsageValidityPeriod"/>
			<xsd:enumeration value="UserProfile"/>
			<xsd:enumeration value="ValidableElement"/>
			<xsd:enumeration value="VehiclePoolerProfile"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PriceableObjectRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICEABLE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PriceableObjectIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICEABLE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPriceableObjectRefStructure" default="PriceableObject">
					<xsd:annotation>
						<xsd:documentation>The natural class for PriceableObjectRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FARE PRICE====================================================== -->
	<xsd:simpleType name="FarePriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FARE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="FarePriceRef" type="FarePriceRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FARE PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForFarePriceRefStructure">
		<xsd:restriction base="NameOfClass">
			<xsd:enumeration value="CappingRulePrice"/>
			<xsd:enumeration value="ControllableElementPrice"/>
			<xsd:enumeration value="CustomerPurchasePackagePrice"/>
			<xsd:enumeration value="DistanceMatrixElementPrice"/>
			<xsd:enumeration value="FarePrice"/>
			<xsd:enumeration value="FareProductPrice"/>
			<xsd:enumeration value="FareStructureElementPrice"/>
			<xsd:enumeration value="FulfilmentMethodPrice"/>
			<xsd:enumeration value="GeographicalIntervalPrice"/>
			<xsd:enumeration value="GeographicalUnitPrice"/>
			<xsd:enumeration value="ParkingPrice"/>
			<xsd:enumeration value="QualityStructureFactorPrice"/>
			<xsd:enumeration value="SalesOfferPackagePrice"/>
			<xsd:enumeration value="SeriesConstraintPrice"/>
			<xsd:enumeration value="TimeIntervalPrice"/>
			<xsd:enumeration value="TimeUnitPrice"/>
			<xsd:enumeration value="UsageParameterPrice"/>
			<xsd:enumeration value="ValidableElementPrice"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FarePriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FARE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="FarePriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FARE PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForFarePriceRefStructure" default="FarePrice">
					<xsd:annotation>
						<xsd:documentation>The natural class for FarePriceRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RuleStepResultIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a RULE STEP RESULT</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<!-- === PRICE GROUP====================================================== -->
	<xsd:simpleType name="PriceGroupIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PRICE GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="PriceGroupRef" type="PriceGroupRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a PRICE GROUP.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPriceGroupRefStructure">
		<xsd:restriction base="NameOfRefClassForGroupOfEntitiesRefStructure">
			<xsd:enumeration value="PriceGroup"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PriceGroupRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PRICE GROUP.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="PriceGroupIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PRICE GROUP.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPriceGroupRefStructure" fixed="PriceGroup">
					<xsd:annotation>
						<xsd:documentation>The natural class for PriceGroupRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === DUmmy Cell Ref ====================================================== -->
	<xsd:element name="CellRef_" type="VersionOfObjectRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Dummy Reference to a FARE TABLE CELL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
</xsd:schema>
