xsd/netex_part_3/part3_fares/netex_usageParameterTravel_support.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_usageParameterTravel_support">
	<xsd:include schemaLocation="netex_usageParameter_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Modified>2017-04-10</Modified>
					Add extra value to FrequencyOfUseENum
				</Date>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified> Name Space changes 
				</Date>
						<Date>
					<Modified>2019-03-9</Modified> EURA 51 Add  enumeration values to RoundTripType  returnOut returnBack  so as to disstingusih legs . ALso add documentation  annotations
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the Travel USAGE PARAMETER  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterTravel_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_usageParameterTravel_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				 <Copyright>CEN, Crown Copyright 2009-2019</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Travel USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Travel USAGE PARAMETER identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- === TRAVEL=========================================== -->
	<xsd:group name="UsageParameterTravelRefGroup">
		<xsd:annotation>
			<xsd:documentation>USAGE PARAMETER Elements forCELL.Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="InterchangingRef" minOccurs="0"/>
			<xsd:element name="FrequencyOfUseRef" type="FrequencyOfUseRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a FREQUENCY OF USE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="MinimumStayRef" minOccurs="0"/>
			<xsd:element name="RoundTripRef" type="RoundTripRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RoutingRef" minOccurs="0"/>
			<xsd:element name="UsageValidityPeriodRef" type="UsageValidityPeriodRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === ROUND TRIP PARAMETER====================================================== -->
	<xsd:simpleType name="RoundTripIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoundTripRef" type="RoundTripRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoundTripRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUND TRIP PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RoundTripIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUND TRIP PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="RoutingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="RoundTripTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ROUND TRIP Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="single"><xsd:annotation> 						<xsd:documentation>Single trip</xsd:documentation>					</xsd:annotation></xsd:enumeration>
			<xsd:enumeration value="return"><xsd:annotation> 						<xsd:documentation>Return trip between the same origin and destination </xsd:documentation>					</xsd:annotation></xsd:enumeration>
			<xsd:enumeration value="returnOut"><xsd:annotation> 						<xsd:documentation>Outward part of a return trip.</xsd:documentation>					</xsd:annotation></xsd:enumeration>
			<xsd:enumeration value="returnBack"><xsd:annotation> 						<xsd:documentation>Return part of a return trip.</xsd:documentation>					</xsd:annotation></xsd:enumeration>
			<xsd:enumeration value="returnOnly"/>
			<xsd:enumeration value="multiple"><xsd:annotation> 						<xsd:documentation>Multtrip carnet.</xsd:documentation>					</xsd:annotation></xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === ROUTING PARAMETER====================================================== -->
	<xsd:element name="RoutingRef" type="RoutingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="RoutingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a ROUTING PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="RoutingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROUTING PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === STEP LIMIT PARAMETER====================================================== -->
	<xsd:simpleType name="StepLimitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="StepLimitRef" type="StepLimitRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StepLimitRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STEP LIMIT PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="StepLimitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STEP LIMIT PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="StepLimitUnitEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for STEP LIMIT UNIT Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="stops"/>
			<xsd:enumeration value="stopsIncludingPassThroughStops"/>
			<xsd:enumeration value="sections"/>
			<xsd:enumeration value="zones"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === USAGE VALIDITY PERIOD  PARAMETER====================================================== -->
	<xsd:simpleType name="UsageValidityPeriodIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="UsageValidityPeriodRef" type="UsageValidityPeriodRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="UsageValidityPeriodRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="UsageValidityPeriodIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a USAGE VALIDITY PERIOD.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="UsageValidityTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage Validity Period Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="singleTrip"/>
			<xsd:enumeration value="returnTrip"/>
			<xsd:enumeration value="carnet"/>
			<xsd:enumeration value="dayPass"/>
			<xsd:enumeration value="weeklyPass"/>
			<xsd:enumeration value="weekendPass"/>
			<xsd:enumeration value="monthlyPass"/>
			<xsd:enumeration value="annualPass"/>
			<xsd:enumeration value="seasonTicket"/>
			<xsd:enumeration value="profileMembership"/>
			<xsd:enumeration value="openEnded"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BlackoutStartEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for BlackoutStart event.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="mayTravelAnytime"/>
			<xsd:enumeration value="noTravelWithinPeriod"/>
			<xsd:enumeration value="noTravelWithinTimeband"/>
			<xsd:enumeration value="mayCompleteIfStartedBefore"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UsageTriggerEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage Trigger.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="purchase"/>
			<xsd:enumeration value="fulfilment"/>
			<xsd:enumeration value="specifiedStartDate"/>
			<xsd:enumeration value="startOutboundRide"/>
			<xsd:enumeration value="endOutboundRide"/>
			<xsd:enumeration value="startReturnRide"/>
			<xsd:enumeration value="startOfPeriod"/>
			<xsd:enumeration value="dayOffsetBeforeCalendarPeriod"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="UsageEndEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Usage End.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="standardDuration"/>
			<xsd:enumeration value="endOfCalendarPeriod"/>
			<xsd:enumeration value="endOfRide"/>
			<xsd:enumeration value="endOfTrip"/>
			<xsd:enumeration value="endOfFareDay"/>
			<xsd:enumeration value="endOfFarePeriod"/>
			<xsd:enumeration value="productExpiry"/>
			<xsd:enumeration value="profileExpiry"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- === FREQUENCY OF USE PARAMETER====================================================== -->
	<xsd:simpleType name="FrequencyOfUseTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for FREQUENCY OF USE Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="twiceADay"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FrequencyOfUseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="FrequencyOfUseRef" type="FrequencyOfUseRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FrequencyOfUseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="FrequencyOfUseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FREQUENCY OF USE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===  INTERCHANGING PARAMETER====================================================== -->
	<xsd:simpleType name="InterchangingTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for INTERCHANGING Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="unlimited"/>
			<xsd:enumeration value="limited"/>
			<xsd:enumeration value="single"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="InterchangingIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="InterchangingRef" type="InterchangingRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="InterchangingRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="InterchangingIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a INTERCHANGING.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === MINIMUM STAY  PARAMETER====================================================== -->
	<xsd:simpleType name="MinimumStayIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="UsageParameterIdType"/>
	</xsd:simpleType>
	<xsd:element name="MinimumStayRef" type="MinimumStayRefStructure" substitutionGroup="UsageParameterRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="MinimumStayRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a MINIMUM STAY PARAMETER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="UsageParameterRefStructure">
				<xsd:attribute name="ref" type="MinimumStayIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MINIMUM STAY PARAMETER.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="MinimumStayTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for MINIMUM STAY Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="specifiedNightsAway"/>
			<xsd:enumeration value="countNightsAway"/>
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="either"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
