xsd/netex_part_3/part3_fares/netex_usageParameterTravel_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml/3.2" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_usageParameterTravel_version">
	<xsd:include schemaLocation="netex_usageParameterTravel_support.xsd"/>
	<xsd:include schemaLocation="netex_timeStructureFactor_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_mode_support.xsd"/>
	<xsd:include schemaLocation="netex_usageParameter_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2013-04-14</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the Travel USAGE PARAMETER  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_usageParameterTravel_versionv1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_usageParameterTravel_support.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx FARE Travel USAGE PARAMETER types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: Travel USAGE PARAMETER  types.</xsd:documentation>
	</xsd:annotation>
	<!-- ==== ROUND TRIP ================================================ -->
	<xsd:element name="RoundTrip" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Properties relating to single or return trip use of a fare.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RoundTrip_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoundTripGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoundTripIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RoundTrip_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROUND TRIP.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoundTripGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoundTripGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROUND TRIP Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="TripType" type="RoundTripTypeEnumeration" default="single" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Type of trip. (Single, return, returnonly). default is single.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="DoubleSingleFare" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether fare for return trip is simply double the single fare.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ShortTrip" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether trip is classified as a short trip for fare calculation.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsRequired" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether return trip is required.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== ROUTING ================================================ -->
	<xsd:element name="Routing" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Limitations on routing of a fare.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Routing_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="RoutingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="RoutingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Routing_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for ROUTING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RoutingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RoutingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for ROUTING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsRestricted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether restricted to certain toutes.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ReturnRouteIdentical" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether return must be same as outward.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ForwardsOnly" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Passenger may only take routes that proceed in a single direction. (They may not use product to achieve a return trip for the cost of a single trip by purchasing a circular route and a making a journe break).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CrossBorder" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether route crosses a border.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== STEP LIMIT ================================================ -->
	<xsd:element name="StepLimit" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Geographical parameter limiting the access rights by counts of stops, sections or zones.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="StepLimit_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="StepLimitGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="StepLimitIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="StepLimit_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for STEP LIMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="StepLimitGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="StepLimitGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for STEP LIMIT Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Restricted" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether restricted to a number of stops.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepUnits" type="StepLimitUnitEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units in which steps atre counted.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of steps allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Miaxmum number of steps allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfTrips" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Miaxmum number of Overall trips allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== FREQUENCY OF USE ================================================= -->
	<xsd:element name="FrequencyOfUse" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>The limits of usage frequency for a FARE PRODUCT (or one of its components) or a SALES PACKAGE during a specific VALIDITY PERIOD. There may be different tariffs depending on how often the right is consumed during the period.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="FrequencyOfUse_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="FrequencyOfUseGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="FrequencyOfUseIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="FrequencyOfUse_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for FREQUENCY OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="FrequencyOfUseGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="FrequencyOfUseGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for FREQUENCY OF USE Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="FrequencyOfUseType" type="FrequencyOfUseTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of FREQUENCY OF USE Transfers.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimalFrequency" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of times product can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximalFrequency" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of times  product can be used.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FrequencyInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Interval within which frequency is measured. If absent forever.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="TimeIntervalRef" minOccurs="0"/>
			<xsd:element name="DiscountBasis" type="DiscountBasisEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of discount for this profile.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====USAGE VALIDITY PERIOD.================================================ -->
	<xsd:element name="UsageValidityPeriod" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>A time limitation for validity of a FARE PRODUCT or a SALES PACKAGE. It may be composed of a standard duration (e.g. 3 days, 1 month) and/or fixed start/end dates and times.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="UsageValidityPeriod_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageValidityPeriodGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="UsageValidityPeriodIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="UsageValidityPeriod_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for USAGE VALIDITY PERIOD.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="UsageValidityPeriodGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="UsageValidityPeriodGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for USAGE VALIDITY PERIOD Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ValidityPeriodType" type="UsageValidityTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsageTrigger" type="UsageTriggerEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event triggering usage period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsageEnd" type="UsageEndEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Event triggering end of usage period.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StandardDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Duration of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start date of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StartTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Start time of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndDate" type="xsd:date" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End Date of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EndTime" type="xsd:time" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>End time of  USAGE VALIDITY PERIOD.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BlackoutUse" type="BlackoutStartEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Interaction with blackout periods.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== INTERCHANGING ================================================ -->
	<xsd:element name="Interchanging" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Limitations on making changes within a trip.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="Interchanging_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="InterchangingGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="InterchangingIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Interchanging_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for INTERCHANGING.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="InterchangingGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="InterchangingGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for INTERCHANGING Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CanInterchange" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether an Jinterchange can be made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="FromMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mode from which interchange is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ToMode" type="VehicleModeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mode to which interchange is made.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfInterchanges" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum number of  interhanges between SERVICE JOURNEYs that can be made in a single TRIP.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumTimeToMakeATransfer" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether fare for return trip is simply double the single fare.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CanBreakJourney" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the Journey can be interrupted, i.e. leave stop point and return.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CrossBorder" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether interchanging crosses a border.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== MINIMUM STAY ================================================ -->
	<xsd:element name="MinimumStay" abstract="false" substitutionGroup="UsageParameter_">
		<xsd:annotation>
			<xsd:documentation>Details of any minimum stay at the destination  required  to use the product.
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="MinimumStay_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PriceableObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="UsageParameterGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="MinimumStayGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="MinimumStayIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="MinimumStay_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for MINIMUM STAY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="UsageParameter_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="MinimumStayGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="MinimumStayGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for MINIMUM STAY Group.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="MinimumStayType" type="MinimumStayTypeEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of minimum stay  requirement.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="RequiresNightsAway" type="DaysOfWeekListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Days of Week that must be away.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MinimumNumberOfNightsAway" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of nighst away that must be spent.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="MaximumNumberOfNightsAway" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Minimum number of nighst that can be spent away on trip.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>
