xsd/netex_part_3/part3_fares/netex_salesPackage_support-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 (http://www.altova.com) by Nicholas Knowles Knowles (Kizoom Ltd) -->
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_salesPackage_support">
	<xsd:include schemaLocation="netex_fareProduct_support-v1.0.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_notice_support-v1.0.xsd"/>
	<!-- =============================================================== -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
					<!-- Name Space changes -->
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the SALES PACKAGE types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_salesPackage_support-v1.0.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile-v1.0.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx SALES PACKAGE identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx: SALES PACKAGE identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====SALES PACKAGE.======================================================== -->
	<xsd:complexType name="salesPackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SalesPackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SalesPackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageRef" type="SalesPackageRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="SalesPackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SALES PACKAGE ELEMENT.======================================================== -->
	<xsd:simpleType name="SalesPackageElementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PriceableObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageElementRef" type="SalesPackageElementRefStructure" substitutionGroup="PriceableObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageElementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE ELEMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PriceableObjectRefStructure">
				<xsd:attribute name="ref" type="SalesPackageElementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE ELEMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === SALES PACKAGE PRICE====================================================== -->
	<xsd:simpleType name="SalesPackagePriceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="FarePriceIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackagePriceRef" type="SalesPackagePriceRefStructure" substitutionGroup="FarePriceRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackagePriceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE PRICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="FarePriceRefStructure">
				<xsd:attribute name="ref" type="SalesPackagePriceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE PRICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====SALES PACKAGE SUBSTITIUTION =============================-->
	<xsd:simpleType name="SalesPackageSubstitutionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="SalesPackageSubstitutionRef" type="SalesPackageSubstitutionRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SalesPackageSubstitutionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="SalesPackageSubstitutionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES PACKAGE SUBSTITUTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====GROUP OF SALES PACKAGEs.======================================================== -->
	<xsd:complexType name="groupOfSalesPackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a collection of one or more references to a SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="GroupOfSalesPackagesRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="GroupOfSalesPackagesIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="GroupOfEntitiesIdType"/>
	</xsd:simpleType>
	<xsd:element name="GroupOfSalesPackagesRef" type="GroupOfSalesPackagesRefStructure" substitutionGroup="GroupOfEntitiesRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="GroupOfSalesPackagesRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a GROUP OF SALES PACKAGEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="GroupOfEntitiesRefStructure">
				<xsd:attribute name="ref" type="GroupOfSalesPackagesIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a GROUP OF SALES PACKAGEs.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== SALES NOTICE ASSIGNMENT======================================================== -->
	<xsd:simpleType name="SalesNoticeAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SALES NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NoticeAssignmentIdType"/>
	</xsd:simpleType>
	<xsd:complexType name="SalesNoticeAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SALES NOTICE ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NoticeAssignmentRefStructure">
				<xsd:attribute name="ref" type="SalesNoticeAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SALES NOTICE ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====DISTRIBUTION ASSIGNMENT.=================================================== -->
	<xsd:simpleType name="DistributionAssignmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AssignmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="DistributionAssignmentRef" type="DistributionAssignmentRefStructure" substitutionGroup="AssignmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DistributionAssignmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DISTRIBUTION ASSIGNMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AssignmentRefStructure">
				<xsd:attribute name="ref" type="DistributionAssignmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DISTRIBUTION ASSIGNMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF SALES PACKAGE================================================== -->
	<xsd:complexType name="typeOfSalesPackageRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfSalesPackageRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfSalesPackageIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfSalesPackageRef" type="TypeOfSalesPackageRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfSalesPackageRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF SALES PACKAGE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfSalesPackageIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF SALES PACKAGE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =============================================================== -->
</xsd:schema>
