xsd/netex_part_3/part3_fares/netex_typeOfTravelDocument_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.2.2" id="netex_typeOfTravelDocument_support">
	<xsd:include schemaLocation="../../netex_framework/netex_responsibility/netex_relationship.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date><Created>2019-01-15</Created>Split out from  TRAVEL DOCUMENT, so as to keep dependencies clean
				</Date>
				<Date>
					<Modified>2019-01-15</Modified>
				</Date>
				<Date><Modified>2021-07-07</Modified>NewModes - aPDS add licencPltae as media type, and ANPR as 
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the fare TYPE OF TRAVEL DOCUMENT types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_3/part3_fares}netex_typeOfTravelDocument_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx TRAVEL DOCUMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx:  TYPE Of TRAVEL DOCUMENT identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ====TYPE OF TRAVEL DOCUMENT.================================================== -->
	<xsd:complexType name="TypeOfTravelDocumentRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfTravelDocumentRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfTravelDocumentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfTravelDocumentRef" type="TypeOfTravelDocumentRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfTravelDocumentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfTravelDocumentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF TRAVEL DOCUMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====TYPE OF TRAVEL DOCUMENT.================================================== -->
	<xsd:complexType name="TypeOfMachineReadabilityRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TYPEs OF MACHINE READABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TypeOfMachineReadabilityRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TypeOfMachineReadabilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF MACHINE READABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfMachineReadabilityRef" type="TypeOfMachineReadabilityRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF MACHINE READABILITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfMachineReadabilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TYPE OF MACHINE READABILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfMachineReadabilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TYPE OF MACHINE READABILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====Enums  DOCUMENT.================================================== -->
	<xsd:simpleType name="MediaTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ResellType.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="paperTicket"/>
			<xsd:enumeration value="paperTicketWithCoupons"/>
			<xsd:enumeration value="coupon"/>
			<xsd:enumeration value="selfPrintPaperTicket"/>
			<xsd:enumeration value="smartCard"/>
			<xsd:enumeration value="mobileApp"/>
			<xsd:enumeration value="licencePlate"/>
			<xsd:enumeration value="card"/>
			<xsd:enumeration value="mms"/>
			<xsd:enumeration value="sms"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MachineReadableEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for ResellType.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="magneticStrip"/>
			<xsd:enumeration value="chip"/>
			<xsd:enumeration value="ocr"/>
			<xsd:enumeration value="apnr"/>
			<xsd:enumeration value="barCode"/>
			<xsd:enumeration value="qrcode"/>
			<xsd:enumeration value="shotCode"/>
			<xsd:enumeration value="nfc"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="MachineReadableListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Machine readable Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="MachineReadableEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="TravelDocumentValidityScopeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for TravelDocumentScope describing where TRAVEL DOCUMENT is valid.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="national"/>
			<xsd:enumeration value="local"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:element name="TravelDocumentProvider" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>Provider of TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelDocumentProvider_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="OrganisationRef" type="OrganisationRefStructure" minOccurs="0"/>
							<xsd:element name="VerificationUrl" type="xsd:anyURI" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelDocumentProvider_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Provider of TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TravelDocumentProviderGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelDocumentProviderGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAVEL DOCUMENT PROVIDER.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OrganisationRef" type="OrganisationRefStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ORGANISATION providing the TRAVEL DOCUMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="VerificationUrl" type="xsd:anyURI" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>URL for providers web service supporting verification of travel documents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:element name="TravelDocumentRiskPolicy" abstract="false" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>The risk policy associated with a TRAVEL DOCUMENT.
			</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TravelDocumentRiskPolicy_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:element name="RiskLevel" type="xsd:int" minOccurs="0"/>
						</xsd:sequence>
					</xsd:sequence>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TravelDocumentRiskPolicy_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>The risk policy associated with a TRAVEL DOCUMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="TravelDocumentRiskPolicyGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="TravelDocumentRiskPolicyGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a TRAVEL DOCUMENT RISK POLICY.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RiskLevel" type="xsd:int" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The risk level associated with a TRAVEL DOCUMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
