xsd/netex_part_1/part1_ifopt/netex_ifopt_localService_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_ifopt_localService_support">
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2007-06-12</Created>
				</Date>
				<Date>
					<Modified>2007-06-12</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines Local Service types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_localService_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>LOCAL SERVICE identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="LocalServiceRef" type="LocalServiceRefStructure" abstract="true" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForLocalServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForEquipmentRefStructure">
			<xsd:enumeration value="AssistanceBookingService"/>
			<xsd:enumeration value="AssistanceService"/>
			<xsd:enumeration value="CateringService"/>
			<xsd:enumeration value="CommunicationService"/>
			<xsd:enumeration value="ComplaintsService"/>
			<xsd:enumeration value="CustomerService"/>
			<xsd:enumeration value="HireService"/>
			<xsd:enumeration value="LeftLuggageService"/>
			<xsd:enumeration value="LocalService"/>
			<xsd:enumeration value="LostPropertyService"/>
			<xsd:enumeration value="LuggageService"/>
			<xsd:enumeration value="MeetingPointService"/>
			<xsd:enumeration value="MoneyService"/>
			<xsd:enumeration value="RetailService"/>
			<xsd:enumeration value="TicketingService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LocalServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="LocalServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForLocalServiceRefStructure" default="LocalService">
					<xsd:annotation>
						<xsd:documentation>The natural class for LocalServiceRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LocalServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LOCAL SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TicketingServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="TicketingServiceRef" type="TicketingServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTicketingServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="TicketingService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TicketingServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an TICKETING SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="TicketingServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TICKETING SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTicketingServiceRefStructure" fixed="TicketingService">
					<xsd:annotation>
						<xsd:documentation>The natural class for TicketingServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AssistanceServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="AssistanceServiceRef" type="AssistanceServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForAssistanceServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="AssistanceService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AssistanceServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ASSISTANCE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="AssistanceServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ASSISTANCE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForAssistanceServiceRefStructure" fixed="AssistanceService">
					<xsd:annotation>
						<xsd:documentation>The natural class for AssistanceServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="CustomerServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="LocalServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="CustomerServiceRef" type="CustomerServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForCustomerServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="CustomerService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="CustomerServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an CUSTOMER SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="CustomerServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CUSTOMER SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForCustomerServiceRefStructure" fixed="CustomerService">
					<xsd:annotation>
						<xsd:documentation>The natural class for CustomerServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ComplaintsServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="ComplaintsServiceRef" type="ComplaintsServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForComplaintsServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="ComplaintsService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ComplaintsServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an COMPLAINTS SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="ComplaintsServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a COMPLAINTS SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForComplaintsServiceRefStructure" fixed="ComplaintsService">
					<xsd:annotation>
						<xsd:documentation>The natural class for ComplaintsServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LostPropertyServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LostPropertyServiceRef" type="LostPropertyServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForLostPropertyServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="LostPropertyService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LostPropertyServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LOST PROPERTY SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LostPropertyServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LOST PROPERTY SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForLostPropertyServiceRefStructure" fixed="LostPropertyService">
					<xsd:annotation>
						<xsd:documentation>The natural class for LostPropertyServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LuggageServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LuggageServiceRef" type="LuggageServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForLuggageServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="LuggageService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LuggageServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LuggageServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LUGGAGE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForLuggageServiceRefStructure" fixed="LuggageService">
					<xsd:annotation>
						<xsd:documentation>The natural class for LuggageServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="LeftLuggageServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="LeftLuggageServiceRef" type="LeftLuggageServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForLeftLuggageServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="LeftLuggageService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="LeftLuggageServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an LEFT LUGGAGE SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="LeftLuggageServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a LEFT LUGGAGE SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForLeftLuggageServiceRefStructure" fixed="LeftLuggageService">
					<xsd:annotation>
						<xsd:documentation>The natural class for LeftLuggageServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="MeetingPointServiceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="CustomerServiceIdType"/>
	</xsd:simpleType>
	<xsd:element name="MeetingPointServiceRef" type="MeetingPointServiceRefStructure" substitutionGroup="LocalServiceRef">
		<xsd:annotation>
			<xsd:documentation>Identifier of an MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForMeetingPointServiceRefStructure">
		<xsd:restriction base="NameOfRefClassForLocalServiceRefStructure">
			<xsd:enumeration value="MeetingPointService"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="MeetingPointServiceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an MEETING POINT SERVICE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="LocalServiceRefStructure">
				<xsd:attribute name="ref" type="MeetingPointServiceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a MEETING POINT SERVICE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForMeetingPointServiceRefStructure" fixed="MeetingPointService">
					<xsd:annotation>
						<xsd:documentation>The natural class for MeetingPointServiceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
