xsd/netex_part_1/part1_ifopt/netex_ifopt_path_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_ifopt_path_support">
	<xsd:include schemaLocation="../../netex_framework/netex_genericFramework/netex_path_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2007-03-12</Created>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2019-03-25</Modified>FR49 CD #65  Accessibility changes
					 CD add CodedTiltEnumeration  with values _strongLeftTilt,   mediumLeftTilt, nearlyFlat, mediumRightTilt, strongRightTilt,  unknown_.	 
					 Revise name of ___CodedTilt___ to ___TiltType___ to be consistent
 				</Date>
				<Date><Modified>2024-02-05</Modified>Factor out common PATH LINK to generic file shared with DECK PATH
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines PATH types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_ifopt_path_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2024</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - PATH identifier types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>PATH identifier types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<!-- ===== SITE PATH LINK ================================================= -->
	<xsd:complexType name="sitePathLinkRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PathLinkRef"/>
					<xsd:element ref="PathLinkRefByValue"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SitePathLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PathLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="SitePathLinkRef" type="SitePathLinkRefStructure" substitutionGroup="PathLinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SitePathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PathLinkRefStructure">
				<xsd:attribute name="ref" type="SitePathLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE PATH LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== SITE PATH JUNCTION  =========================================================== -->
	<xsd:simpleType name="SitePathJunctionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PathJunctionIdType"/>
	</xsd:simpleType>
	<xsd:element name="SitePathJunctionRef" type="SitePathJunctionRefStructure" substitutionGroup="PathJunctionRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SitePathJunctionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SITE PATH JUNCTION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PathJunctionRefStructure">
				<xsd:attribute name="ref" type="SitePathJunctionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE PATH JUNCTION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== SITE PATH JUNCTION  =========================================================== -->
	<xsd:complexType name="offSitePathLinkRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PathLinkRef"/>
					<xsd:element ref="PathLinkRefByValue"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="OffSitePathLinkIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PathLinkIdType"/>
	</xsd:simpleType>
	<xsd:element name="OffSitePathLinkRef" type="OffSitePathLinkRefStructure" substitutionGroup="PathLinkRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="OffSitePathLinkRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a OFF SITE PATH LINK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PathLinkRefStructure">
				<xsd:attribute name="ref" type="OffSitePathLinkIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a OFF SITE PATH LINK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =======SITE NAVIGATION PATH JUNCTION============================================ -->
	<xsd:complexType name="siteNavigationPathRefs_RelStructure">
    		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="NavigationPathRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="AccessSummaryIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:simpleType name="PathDirectionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for flow direction.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="oneWay"/>
			<xsd:enumeration value="twoWay"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TransitionEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for path transition.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="up"/>
			<xsd:enumeration value="down"/>
			<xsd:enumeration value="level"/>
			<xsd:enumeration value="upAndDown"/>
			<xsd:enumeration value="downAndUp"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PathHeadingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for path heading.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="left"/>
			<xsd:enumeration value="right"/>
			<xsd:enumeration value="forward"/>
			<xsd:enumeration value="back"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NavigationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Navigation type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="hallToQuay"/>
			<xsd:enumeration value="hallToStreet"/>
			<xsd:enumeration value="quayToHall"/>
			<xsd:enumeration value="quayToQuay"/>
			<xsd:enumeration value="quayToStreet"/>
			<xsd:enumeration value="streetToHall"/>
			<xsd:enumeration value="streetToQuay"/>
			<xsd:enumeration value="streetToSpace"/>
			<xsd:enumeration value="spaceToStreet"/>
			<xsd:enumeration value="spaceToHall"/>
			<xsd:enumeration value="hallToSpace"/>
			<xsd:enumeration value="spaceToSpace"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TiltTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for tilt. +v1.1</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="strongLeftTilt"/>
			<xsd:enumeration value="mediumLeftTilt"/>
			<xsd:enumeration value="nearlyFlat"/>
			<xsd:enumeration value="mediumRightTilt"/>
			<xsd:enumeration value="strongRightTilt"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FlooringTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for flooring.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="carpet"/>
			<xsd:enumeration value="concrete"/>
			<xsd:enumeration value="asphalt"/>
			<xsd:enumeration value="cork"/>
			<xsd:enumeration value="fibreglassGrating"/>
			<xsd:enumeration value="glazedCeramicTiles"/>
			<xsd:enumeration value="plasticMatting"/>
			<xsd:enumeration value="ceramicTiles"/>
			<xsd:enumeration value="rubber"/>
			<xsd:enumeration value="steelPlate"/>
			<xsd:enumeration value="vinyl"/>
			<xsd:enumeration value="wood"/>
			<xsd:enumeration value="stone"/>
			<xsd:enumeration value="grass"/>
			<xsd:enumeration value="earth"/>
			<xsd:enumeration value="gravel"/>
			<xsd:enumeration value="uneven"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BorderTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for border types</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="wall"/>
			<xsd:enumeration value="grass"/>
			<xsd:enumeration value="earth"/>
			<xsd:enumeration value="barrier"/>
			<xsd:enumeration value="road"/>
			<xsd:enumeration value="cyclingLane"/>
			<xsd:enumeration value="step"/>
			<xsd:enumeration value="rail"/>
			<xsd:enumeration value="plants"/>
			<xsd:enumeration value="trees"/>
			<xsd:enumeration value="mud"/>
			<xsd:enumeration value="solidEdge"/>
			<xsd:enumeration value="water"/>
			<xsd:enumeration value="gravel"/>
			<xsd:enumeration value="handrail"/>
			<xsd:enumeration value="noPhysicalBorder"/>
			<xsd:enumeration value="otherPhysicalBorder"/>
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="FlooringStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for the status of the flooring.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="good"/>
			<xsd:enumeration value="worn"/>
			<xsd:enumeration value="discomfortable"/>
			<xsd:enumeration value="hazardous"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TactileGuidingStripStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for the status of the Tactile Guiding Strip.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="goodAndContrasted">
				<xsd:annotation>
					<xsd:documentation>When the guiding strip has the expected quality level.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="primitive">
				<xsd:annotation>
					<xsd:documentation>When there is no guiding strip as such but a decorative element or ledge can be used for this purpose.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="incorrect">
				<xsd:annotation>
					<xsd:documentation>When there is a guiding strip but it does not correspond to a path that can actually be used (passes through the middle of an obstacle without going around it for example).</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="bad">
				<xsd:annotation>
					<xsd:documentation>When the guiding strip is degraded and difficult to interpret.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PlaceInSequenceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of place step in a NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PointInSequenceIdType"/>
	</xsd:simpleType>
	<xsd:element name="PlaceInSequenceRef" type="PlaceInSequenceRefStructure" substitutionGroup="PointInSequenceRef">
		<xsd:annotation>
			<xsd:documentation>Type for a list of references to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="NavigationPathRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SiteNavigationPathIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NavigationPathIdType"/>
	</xsd:simpleType>
	<xsd:element name="SiteNavigationPathRef" type="SiteNavigationPathRefStructure" substitutionGroup="NavigationPathRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SiteNavigationPathRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for reference to a SITE NAVIGATION PATH.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NavigationPathRefStructure">
				<xsd:attribute name="ref" type="SiteNavigationPathIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SITE NAVIGATION PATH.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
