xsd/netex_part_7/part7_driverManagement/netex_dutyStretch_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_dutyStretch_support">
	<xsd:include schemaLocation="../../netex_part_2/part2_vehicleService/netex_accountableActivity_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 2.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2023-02-1</Created>
				</Date>
				<Date>
					<Modified>2023-02-15</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DUTY STRETCH types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_2/part2_vehicleService}netex_dutyStretch_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DUTY STRETCH identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx:  STRETCH identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!-- =====STRETCH ==================================================== -->
	<xsd:simpleType name="StretchIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STRETCH.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TimeAccountableActivityIdType"/>
	</xsd:simpleType>
	<xsd:element name="StretchRef" type="StretchRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STRETCH. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StretchRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STRETCH.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TimeAccountableActivityRefStructure">
				<xsd:attribute name="ref" type="StretchIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STRETCH.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== SPELL =================================================== -->
	<xsd:simpleType name="SpellIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SPELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TimeAccountableActivityIdType"/>
	</xsd:simpleType>
	<xsd:element name="SpellRef" type="SpellRefStructure" abstract="true" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SPELL. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SpellRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a SPELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TimeAccountableActivityRefStructure">
				<xsd:attribute name="ref" type="SpellIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a SPELL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== DRIVING  SPELL ============================================== -->
	<xsd:simpleType name="DrivingSpellIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a DRIVING SPELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpellIdType"/>
	</xsd:simpleType>
	<xsd:element name="DrivingSpellRef" type="DrivingSpellRefStructure" substitutionGroup="SpellRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a DRIVING SPELL. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="DrivingSpellRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a DRIVING SPELL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpellRefStructure">
				<xsd:attribute name="ref" type="DrivingSpellIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a DRIVING SPELL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== NON DRIVING  SPELL ============================================== -->
	<xsd:simpleType name="NonDrivingSpellIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a NON DRIVING SPELL..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="SpellIdType"/>
	</xsd:simpleType>
	<xsd:element name="NonDrivingSpellRef" type="NonDrivingSpellRefStructure" abstract="true" substitutionGroup="SpellRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a NON DRIVING SPELL. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="NonDrivingSpellRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a NON DRIVING SPELL..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="SpellRefStructure">
				<xsd:attribute name="ref" type="NonDrivingSpellIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a NON DRIVING SPELL..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== STANDBY ============================================== -->
	<xsd:simpleType name="StandbyIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a STANDBY..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NonDrivingSpellIdType"/>
	</xsd:simpleType>
	<xsd:element name="StandbyRef" type="StandbyRefStructure" substitutionGroup="SpellRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a STANDB spell +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="StandbyRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a STANDBY..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NonDrivingSpellRefStructure">
				<xsd:attribute name="ref" type="StandbyIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a STANDBY..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== TASK ============================================== -->
	<xsd:simpleType name="TaskIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TASK..</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="NonDrivingSpellIdType"/>
	</xsd:simpleType>
	<xsd:element name="TaskRef" type="TaskRefStructure" substitutionGroup="SpellRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TASK spell. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TaskRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a TASK..</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="NonDrivingSpellRefStructure">
				<xsd:attribute name="ref" type="TaskIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TASK..</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === FILL IN  TIME  =============================================-->
	<xsd:simpleType name="FillInTimeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FILL IN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccountableActivityIdType"/>
	</xsd:simpleType>
	<xsd:element name="FillInTimeRef" type="FillInTimeRefStructure" substitutionGroup="AccountableActivityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FILL IN TIME. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FillInTimeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a FILL IN TIME.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccountableActivityRefStructure">
				<xsd:attribute name="ref" type="FillInTimeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a FILL IN TIME.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === PAUSE  =============================================-->
	<xsd:simpleType name="PauseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PAUSE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccountableActivityIdType"/>
	</xsd:simpleType>
	<xsd:element name="PauseRef" type="PauseRefStructure" substitutionGroup="AccountableActivityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PAUSE. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PauseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a PAUSE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccountableActivityRefStructure">
				<xsd:attribute name="ref" type="PauseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PAUSE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- === BREAK  =============================================-->
	<xsd:simpleType name="BreakIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BREAK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AccountableActivityIdType"/>
	</xsd:simpleType>
	<xsd:element name="BreakRef" type="BreakRefStructure" substitutionGroup="AccountableActivityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BREAK. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BreakRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Reference to a BREAK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AccountableActivityRefStructure">
				<xsd:attribute name="ref" type="BreakIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a BREAK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== BREAK FACILITY  =================================== -->
	<xsd:simpleType name="BreakFacilityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a BREAK FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="BreakFacilityRef" type="BreakFacilityRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a BREAK FACILITY. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BreakFacilityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a BREAK FACILITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="BreakFacilityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to identifier of a BREAK FACILITY.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TYPE OF TASK =================================== -->
	<xsd:simpleType name="TypeOfTaskIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF TASK.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfTaskRef" type="TypeOfTaskRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF TASK. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfTaskRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF TASK.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfTaskIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to identifier of a TYPE OF TASK.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
