xsd/NeTEx_publication.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.1" id="netex_publication">
  <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="./siri/siri_base-v2.0.xsd"/>
  <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation=".//siri_utility/siri_participant-v2.0.xsd"/>
  <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation=".//siri/siri_requests-v2.0.xsd"/>
  <xsd:include schemaLocation="netex_service/netex_dataObjectRequest_service.xsd"/>
	<xsd:include schemaLocation="netex_service/netex_all.xsd"/>
	<xsd:include schemaLocation="./PublicationDelivery.genkeyref.xsd"/> <!-- include constraints -->
	<!-- ===eGIF/GovTalk Documentation ======================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>CEN TC278 WG3 SG9 Team.</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First Drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date><Modified>2025-04-27</Modified>NewModes: Add VEHICLE JOURNEY SPOT ALLOCATION,, PASSENGER SPOT ALLOCATION, FARE PRICE FRAME
				</Date>
				<Date><Modified>2023-01-30</Modified>NewModes: Add ACCEPTED DRIVER PERMIT, TYPE OF DRIVER PERMIT, VEHICLE EQUIPMENT PROFILE MEMBER
				</Date>
				<Date><Modified>2021-09-02</Modified>NewModes: Add BatteryEquipment and TypeOfBatteryCHemistry. Add ChargingEquipmentProfile, TypeOfPlug
				</Date>
				<Date><Modified>2021-09-01</Modified>
          NewModes: AddPOOL OF VEHICLEs
        </Date>
				<Date><Modified>2021-08-03</Modified>
          Add PARKING BAY CONDITION and RENTAL AVAILABILITY
        </Date>
				<Date><Modified>2021-09-01</Modified>
          NewModes: Add PoolOfVehicles
        </Date>
				<Date><Modified>2021-08-03</Modified>
          Add PARKING BAY CONDITION and RENTAL AVAILABILITY
        </Date>
				<Date><Modified>2021-07-09</Modified>
          Revise name sto allign with TM
          VehicleRentalOperation --&gt; VehicleRental, VehicleSharingOperation --&gt; VehicleSharing, VehiclePoolingOperation --&gt; VehiclePooling
        </Date>
				<Date><Modified>2021-01-08</Modified>
          NewModes: drop MobilityServiceElement, MobilityServiceElementPrice, add constraint for ModeRestriction assessment
        </Date>
				<Date><Modified>2020-11-16</Modified>
          NewModes: Drop AlternativeTransportOperator
        </Date>
				<Date><Modified>2020-11-06</Modified>
          NewMOdes (Norway) Add RelatedOrganisation and reusable Contacts constraints.
        </Date>
				<Date><Modified>2020-10-14</Modified>
          NewModes Add Constraints (NM)
          Add MobilityServiceFrame, MobilityJourneyFrame.
          TypeOfProof, TaxiRank, TaxiStand. TypeOfParking
          ScheduledOperation, FlexibleOperation, VehicleRental,
          VehicleSharing, VehiclePooling.
          VehicleRentalService, VehicleSharingService, CarPoolingService. TaxiService, ChaufferedVehicleService. OnlineService.
          OnlineServiceOperator.
          SimpleVehicleType,
          CycleModelProfile, CarModelProfile. TypeOfFuel
          Fleet, TypeOfFleet.
          VehicleMeetingPoint, VehicleMeetingLink, VehicleMeetingPlace.
          VehicleMeetingPointAssignment,
          DynamicVehicleMeetingPointAssignment.
          VehicleSharingParkingArea, VehiclePoolingParkingArea, TaxiParkingArea, VehicleSharingParkingBay, VehiclePoolingParkingBay.
          ParkingAreaCapacityAssignment,
          MonitoredVehicleSharingParkingBay, ParkingBayStatus.
          VehicleReleaseEquipment, RefuellingEquipment.
          TaxiServicePlaceAssignment, VehiclePoolingPlaceAssignment, VehicleSharingPlaceAssignment.
          SingleJourneyPath, VehicleMeetingPointInPath, SingleJourney, GroupOfSingleJourneys.
          VehiclePoolerProfile (USerProfile)
          VehicleAccessCredentials, ServiceAccessCode
          RentalPenaltyPolicy
          IndividualTraveller, VehiclePoolingDriverInfo, IndividualPassengetrInfo
          MobilityServiceConstraint, VehicleTypeZoneConstraint
          TM: CustomerMaymentMeans, MediumAccessDevice,
         MediunACcessDeviceSecurityListing, MediumAPplicationInstance.
          FIX: Add OpenTransportMode, Submode, VehicleChargingEquipment, CycleStorageEquipment, HailAndRideArea
          FIX: Remove PlaceRef and
          EquipmentRef and bogus restrictions on uniqueness across places and equipment.
        </Date>
				<Date><Modified>2020-08-20</Modified>
          Corrections
          Add UicOperatingPeriod key and ref constraints
        </Date>
				<Date><Modified>2020.07.28</Modified>
          ### 2020.07.28 FIX Issue #101*Publication*:Add missing constraints for __FareTableRow__, __FareTableColumn__, __TypeOfLine__ and for __FareZone__ Parent

        </Date>
				<Date><Modified>2020-04-17</Modified>
          Corrections
          Add ParentFareZoneRef constraint
        </Date>
				<Date><Modified>2020-04-02</Modified>
          Corrections
          Add constraint for RowRef and ColumnRef
        </Date>
				<Date><Modified>2019-05-15</Modified>
          Corrections
          Add TypeOfLine constraint
        </Date>
				<Date><Modified>2019-05-02</Modified>
          Corrections
          Add missing constraint selectors for DefaultResponsibilitySetRef and DefaultDataSourceRef
          Add missing constraints ref DefaultCodespaceRef
        </Date>
				<Date><Modified>2019-04-24</Modified>
          Corrections
          Add missing constraints ref for JourneyPart/MainPartRef to JourneyPartCouple
        </Date>
				<Date><Modified>2019-04-24</Modified>
          Corrections
          (1)Add constraints ref for ParkingEntranceForVehicles and ParkingPasengerEntrance
          (2) Drop general EntranceRef constraint
        </Date>
				<Date><Modified>2019-04-14</Modified>
          Fix add constraints for VehicleStopingPosition and VehicleQuayAlignment and VehiclePositionAlignment
        </Date>
				<Date><Modified>2019-04-10</Modified>
          Fix add constraints for ParkingProperties and CompanionUserProfile/ParentRef
        </Date>
				<Date><Modified>2019-03-25</Modified>
          Fix: Integrate fix by CD with other constraint changes: Add EquipmentPlace to Place_AnyVersionedKey.
        </Date>
				<Date><Modified>2019-03-12</Modified>
          Fix: Add integrity constraints for new elements EligibilityChangePolicy, TypeOfPaymentMethod , TypeOfFareStructureFactor, TypeOfFareStructureElement, TypeOfPricingRule, TypeOfFareTable,
          TypeOfMachineReadability,
          Also drop some spurious selectors.
        </Date>
				<Date><Modified>2019-03-10</Modified>
          Fix: Add constraint for SupplementToFareProductRef .
        </Date>
				<Date><Modified>2019-03-01</Modified>
          EURA-(nk) Add constraint for DistanceMatrixInverseRef for backwards direction of reference to a DIstance Matrix Element
        </Date>
				<Date><Modified>2019-02-18</Modified>
          (a) Relax uniqueness constraint on FareTable and PriceGroup now unique within type,
        </Date>
				<Date><Modified>2019-01-15</Modified>
          (a) Fix keyref constraint on TimingLinkInJourneyPattern_AnyVersionedKey, (Drop DropFarePointInPattern. TimingTimingLinkInJournePattern, STopTimingLinkInJourneyPattern)
          (b) Fix keyref
          constraint on ServiceLinkInJourneyPattern_AnyVersionedKey (Drop points)
          (c) Fix keyref constraint on FarePointInPattern_AnyVersionedKey - Add Points
          (d) Fix keyref constraint on
          LinkInJourneyPattern_AnyVersionedKey - drop Points
          (e) Fix constraint ServiceLinkInJourneyPattern_AnyVersionedKey drop bogus ServiceService selector
          (f) Fix Fare Point In Pattern Key
          (g) Fix
          keyref constraint on StopPointInJourneyPattern - remove bogus DeadRunInPattern and ServiceStopPointInPattern selectors
          (h) Fix keyref constraint on TimingPointInPattern - remove bogus
          DeadRunInPattern and ServiceStopPointInPattern selectors
          (i) Fix uniqueness constraint on HeadwayJourneyGroup - drop RhythmicalJourneyGroup
          (j) Fix (again) Constraints on SalesOfferPackage and
          SalesOfferPackagePrice
          (k) Fix keyref LinkInJourneyPattern_AnyVersionedKey correct toLinkInPattern to ServiceLinkInPattern
          (l) Fix remove obsolete ParkingTaxRate constraint
          (m) Fix Reinstate
          Constraints on StopPointInJourneyPattern, etc
          (n) Fix Add Constraints on SectionInSequence
          (o) Revise key names to emphasise when key is ordered
        </Date>
				<Date><Modified>2018-06-01</Modified>
          Rename Sales Package to SALES OFFER PACKAGE
        </Date>
				<Date><Modified>2018-01-07</Modified>
          Remove trailing blanks on names
        </Date>
				<Date><Modified>2017-08-10</Modified>
          Align with TM6
          Rename Passenger Contract to FareContract.
          Rename Passenger Contract Event to FareContractEntry.
          Rename Type of Passenger Contract to TypeOfFareContract.
          Adjust References in
          Dependent packages.
        </Date>
				<Date><Modified>2017-08-10</Modified>
          Rename FareContractEvent to FareContractEntry
          Add constraints for CustomerPurchasePackage, CustomerPurchasePackageElement, CustomerPurchaseParameterAssignment
          Add constraints for
          CustomerAccount, CustomerAccountStatus, TypeOf CustomerAccount,
          Add constraints for CustomerEligibility, UserProfileEligibility, CommercialProfileEligibility,
          ResidentialQualifactionEligibility
        </Date>
				<Date><Modified>2017-06-29</Modified>
          CR048 add constraints WHITE LIST
          Fix: Add Constraint on CUSTOMER
          CR00310 add constraints on JOURNEY PART POSITION
        </Date>
				<Date><Modified>2017-05-09</Modified>
         Correct Constraints for PointOnRoute
					              Add  Missing Constraints For CommonSectionMember / PointOnSection 	and LinkOnSection er
					              Add  Missing Constraints For GroupOfServicesMember , JourneyAccounting  DelegatedResponsibilitySet
								 Reinstate  Constraints for CAll
								 Fix constraints that were missing namespace on subpart
		    </Date>
				<Date><Modified>2017-03-27</Modified>
          Various 1.1 changes see CRS.
          CR0038 revise constraints on ResponsibilityRole
        </Date>
				<Date><Modified>2011-01-17</Modified>
          V0.94 Revised
        </Date>
				<Date><Created>2010-09-04</Created>
          Created from Siri.xsd
        </Date>
				<Description><p>netex Xml is an XML representation of the Transmodel model that can be used to exchange data objects between netex databases and other services.</p>
          .
          <p> The same netex Xml of netex data objects can be used both in fine grained protocols that exchange one or more objects at a time, such as the SIRI based netex Xml web service, and in bulk
            publication exchange formats used to exchange whole data sets.
          </p>
					<p>
            This netex Publication exchange XML schema defines a bulk delivery format to exchange netex objects as an XML document. (It has no dependency on SIRI).
            <ul><li>For each data object type it describes an XML representation which can be used to exchange netex data.</li><li>It also describes filters to describe requests for publishing data. These can be used both to configure the publication, and to describe the contents of the published document, for
                example all Network Objects, or all current traffic events.</li><li>A particular use of the netex Publication Exchange format is to publish data from a NeTEx system: at regular intervals as an Xml document which can be transmitted to other systems by
                FTP or other communication transport means.
              </li></ul>
					</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd}netex_publication.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/netex_filters.xsd</Requires>
					<Requires>http://www.netex.org.uk/schemas/1.0/netex_all_objects.xsd</Requires>
				</Relation>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Created for NeTEx.</li>
					</ul>
				</Source>
				<Status>Version 1.1</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport, Public transport, Bus services, Coach services, Business and industry, Transport, Public transport, Roads and
            Road transport.</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx XML schema. bulk Publication Interface for exchanging NeTEx data </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx PUBLICATION SCHEMA</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:element name="ParticipantRef" type="siri:ParticipantCodeType">
		<xsd:annotation>
			<xsd:documentation>Identifier of system requesting Data.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PublicationRequest" type="PublicationRequestStructure">
		<xsd:annotation>
			<xsd:documentation>A bulk publication request for NeTEx objects specifying which elements should be returned. Can be echoed back in a publication response.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PublicationRequestStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Publication Request.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="RequestTimestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Time of request.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ParticipantRef" minOccurs="0"/>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0"/>
			<xsd:element name="topics" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>One or more Request filters that specify tthe data to be included in output. Multiple filters are logically ANDed.</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="NetworkFrameTopic" type="NetworkFrameTopicStructure" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>Vaues to use select Network Objects.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="RequestPolicy" type="NetworkFrameRequestPolicyStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Policies to apply when fetching data specified by Topics.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SubscriptionPolicy" type="NetworkFrameSubscriptionPolicyStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Policy to use when processing Network Subscriptions.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:NMTOKEN" default="1.0"/>
	</xsd:complexType>

	<xsd:complexType name="PublicationDeliveryStructure">
		<xsd:annotation>
			<xsd:documentation>Type for Publication Delivery.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="PublicationHeaderGroup"/>
			<xsd:group ref="PayloadGroup"/>
		</xsd:sequence>
		<xsd:attribute name="version" type="xsd:NMTOKEN" default="1.0"/>
	</xsd:complexType>
	<xsd:group name="PublicationHeaderGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for Publication header.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PublicationTimestamp" type="xsd:dateTime">
				<xsd:annotation>
					<xsd:documentation>Time of output of data.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ParticipantRef"/>
			<xsd:element name="PublicationRequest" type="PublicationRequestStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Echo Request used to create bulk response.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PublicationRefreshInterval" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>How often data in publication is refreshed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of contents.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!--== Requests ===================================================================== -->
</xsd:schema>
