xsd/netex_framework/netex_reusableComponents/netex_equipmentVehiclePassenger_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_equipmentVehiclePassenger_version">
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2011-12-16</Modified>
				</Date>
				<Date><Modified>2021-01-29</Modified>BUG Issue #143: Correct data type on GapToPlatform
				</Date>
				<Date><Modified>2023-02-07</Modified>Add actual Vehicle Equipment list. Make Actual
				</Date>
				<Date><Modified>2019-03-25</Modified>Fix #41 by Skinkie from 2019.01.07. Fix typo on MobilityList.
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines passenger vehicle EQUIPMENT </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_equipmentVehiclePassenger_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2021</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - TICKETING EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>VEHICLE PASSENGER EQUIPMENT types for IFOPT Fixed Objects in Public Transport.</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../netex_framework/netex_utility/netex_units.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_equipment_version.xsd"/>
	<xsd:include schemaLocation="../../netex_framework/netex_reusableComponents/netex_facility_version.xsd"/>
	<xsd:include schemaLocation="../netex_genericFramework/netex_accessibility/netex_acsb_accessibility.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_support.xsd"/>
	<xsd:include schemaLocation="netex_vehicleType_support.xsd"/>
	<xsd:group name="VehicleEquipmentChoice">
		<xsd:annotation>
			<xsd:documentation>Choice of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:choice>
			<xsd:element ref="AccessVehicleEquipment"/>
			<xsd:element ref="WheelchairVehicleEquipment"/>
			<xsd:element ref="RetractableStepVehicleEquipment"/>
			<xsd:element ref="RampVehicleEquipment"/>
			<xsd:element ref="HoistVehicleEquipment"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="vehicleEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>List of VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="AccessVehicleEquipment"/>
					<xsd:element ref="WheelchairVehicleEquipment"/>
					<xsd:element ref="RetractableStepVehicleEquipment"/>
					<xsd:element ref="RampVehicleEquipment"/>
					<xsd:element ref="HoistVehicleEquipment"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====ACCESS=================================================================== -->
	<xsd:complexType name="actualVehicleEquipments_RelStructure">
		<xsd:annotation>
			<xsd:documentation>List of ACTUAL VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="ActualVehicleEquipment" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="ActualVehicleEquipment" type="ActualVehicleEquipment_VersionStructure" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>An item of EQUIPMENT of a particular type actually available in an individual VEHICLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="ActualVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Abstract Type for an ACTUAL VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="ActualVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
		<!-- changed -->
	</xsd:complexType>
	<xsd:group name="ActualVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACTUAL VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Units" type="xsd:integer" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Units of EQUIPMENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="VehicleTypeRef" minOccurs="0"/>
			<xsd:element ref="EquipmentRef" minOccurs="0"/>
			<xsd:element ref="AccessibilityAssessment" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="AccessVehicleEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for ACCESS providing information such as low floor, ramp, access area dimensions, etc.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="AccessVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="AccessVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="AccessVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AccessVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for an ACCESS VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="AccessVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="AccessVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="AccessVehicleEquipmentBoardingGroup"/>
			<xsd:group ref="AccessVehicleEquipmentDoorGroup"/>
			<xsd:group ref="AccessVehicleEquipmentAdditionalGroup"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentBoardingGroup">
		<xsd:annotation>
			<xsd:documentation>Boarding Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LowFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Low floor VEHICLES can use stop and be accessible.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HighFloor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>High floor VEHICLES can use stop.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Hoist" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>VEHICLE has a hoist or lift for wheelchairs.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HoistOperatingRadius" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance from VEHICLE needed to operate hoist.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Ramp" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a ramp may be used to access VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BearingCapacity" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum weight that the EQUIPMENT can bear. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of steps to board or alight from VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BoardingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum step height to board.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Kneeling" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>When set, BoardingHeight and FloorHeight values reflect the height when kneeling is active/inactive.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EquipmentLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of the EQUIPMENT be it hoist or ramp. When fully extended and only the part outside the VEHICLE. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="EquipmentWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of the EQUIPMENT be it hoist or ramp. When fully extended and only the part outside the VEHICLE. +v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GapToPlatform" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Normal gap between VEHICLE and platform.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentDoorGroup">
		<xsd:annotation>
			<xsd:documentation>Door Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of access area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of access area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AutomaticDoors" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are automatic doors.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="AccessVehicleEquipmentAdditionalGroup">
		<xsd:annotation>
			<xsd:documentation>Additional Elements for an ACCESS VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SuitableFor" type="MobilityList" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Mobility needs for which access is suitable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistanceNeeded" type="AssistanceNeededEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Nature of assistance needed to board - level Access allows self-boarding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistedBoardingLocation" type="AssistedBoardingLocationEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether special position on platform is needed for boarding.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="GuideDogsAllowed" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether a Guide Dog is allowed.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="BoardingEquipmentOperationGroup">
		<xsd:annotation>
			<xsd:documentation>Additional information about the operation of the EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsAutomatic" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the EQUIPMENT operates automatically, meaning the entire operation from start to finish requires no manual handling (except of pressing e.g. a button).</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="AssistanceRequired" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the usage or operation of the EQUIPMENT requires assistance, meaning the passenger either physically or legally cannot board/alight independently.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InOperationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The time it takes to retract the EQUIPMENT. For none automatic equipment an estimated or average usage time can be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OutOperationDuration" type="xsd:duration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The time it takes to deploy the EQUIPMENT. For none automatic equipment an estimated or average usage time can be provided.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:group name="BoardingEquipmentHorizontalGapReductionGroup">
		<xsd:annotation>
			<xsd:documentation>Additional information about the horizontal gap the EQUIPMENT can bridge.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ExternalLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of the EQUIPMENT when fully extended and only the part outside the VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsAdjustableLength" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether the EQUIPMENT (like a sliding step or telescopic ramp) can be adjusted to be used at shorter lengths. Useful if there is not enough space to deploy the equipment at its full length.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ExternalWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of the EQUIPMENT when fully extended and only the part outside the VEHICLE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="BearingCapacity" type="WeightType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Maximum weight that the EQUIPMENT can bear.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RetractableStepVehicleEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>A special VEHICLE EQUIPMENT to sliding and folding steps which reduce the horizontal and partially vertical gap between vehicle and platform.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RetractableStepVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						<xsd:group ref="DataManagedObjectGroup"/>
						<xsd:group ref="EquipmentGroup"/>
						<xsd:group ref="RetractableStepVehicleEquipmentGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RetractableStepVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RetractableStepVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RETRACTABLE STEP VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RetractableStepVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RetractableStepVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RETRACTABLE STEP VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="BoardingEquipmentOperationGroup"/>
			<xsd:group ref="BoardingEquipmentHorizontalGapReductionGroup"/>
			<xsd:element name="BoardingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The height from ground to the lowest retractable step. For a sliding step also know as gap filler which are used to bridge the horizontal gap, this is almost identical to the VEHICLE BOARDING HEIGHT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfTreads" type="xsd:positiveInteger" minOccurs="0" default="1">
				<xsd:annotation>
					<xsd:documentation>Number of retractable steps.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfSteps" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Total number of steps, starting from the lowest step and also including any fixed steps, to access the VEHICLE. "Steps" is to be understood as rises wherefore it can be 0 for a single sliding step.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="StepHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The height difference of the individual steps or if only one step is described the height difference from the step BOARDING HEIGHT to the VEHICLE BOARDING HEIGHT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="RampVehicleEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>A special VEHICLE EQUIPMENT to model ramps used to bridge the horizontal and vertical gap between vehicle and platform.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="RampVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						<xsd:group ref="DataManagedObjectGroup"/>
						<xsd:group ref="EquipmentGroup"/>
						<xsd:group ref="PassengerEquipmentGroup"/>
						<xsd:group ref="RampVehicleEquipmentGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="RampVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="RampVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a RAMP VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="RampVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="RampVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a RAMP VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="BoardingEquipmentOperationGroup"/>
			<xsd:group ref="BoardingEquipmentHorizontalGapReductionGroup"/>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The length of the ramp when fully extended. Can be used to calculate the slope together with FloorHeight and PlatformHeight.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="HoistVehicleEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>A special VEHICLE EQUIPMENT to model hoists and lifts used to bridge the vertical and partially horizontal gap between vehicle and platform.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="HoistVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						<xsd:group ref="DataManagedObjectGroup"/>
						<xsd:group ref="EquipmentGroup"/>
						<xsd:group ref="HoistVehicleEquipmentGroup"/>
					</xsd:sequence>
					<xsd:attribute name="id" type="HoistVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="HoistVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a HOIST VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="PassengerEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="HoistVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="HoistVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a HOIST VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:group ref="BoardingEquipmentOperationGroup"/>
			<xsd:group ref="BoardingEquipmentHorizontalGapReductionGroup"/>
			<xsd:element name="InnerLength" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The clearance length of the lifting platform. Can be used to determine if a wheelchair fits on the lift.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="InnerWidth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The clearance width of the lifting platform. Can be used to determine if a wheelchair fits on the lift.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LiftingHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The maximum height difference the lift can overcome. In other words the distance between the VEHICLE’s floor height and the lowest point the lift can reach.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="OperatingRadius" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Distance from VEHICLE needed to operate hoist.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
	<xsd:element name="WheelchairVehicleEquipment" substitutionGroup="PassengerEquipment">
		<xsd:annotation>
			<xsd:documentation>Specialisation of VEHICLE EQUIPMENT for Wheel chair accessibility on board a VEHICLE providing information such as the number of wheel chair areas and the access dimensions.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="WheelchairVehicleEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="ActualVehicleEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="WheelchairVehicleEquipmentIdType"/>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="WheelchairVehicleEquipment_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a WHEELCHAIR VEHICLE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ActualVehicleEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="WheelchairVehicleEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="WheelchairVehicleEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an WHEELCHAIR VEHICLE EQUIPMENT type.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HasWheelchairSpaces" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there are any wheelchair spaces. Should be true if Number of Wheelchair spaces is greater than zero.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberOfWheelchairAreas" type="xsd:nonNegativeInteger" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Number of wheelchair places on vehicle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WidthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LengthOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightOfAccessArea" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="WheelchairTurningCircle" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Access Area.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="CompanionSeat" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether there is a companion seat.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="suitableFor" type="typeOfWheelchairRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Wheelchair types for which EQUIPMENT is suitable. v2.0</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- =========TYPE OF DECK ENTRANCE. ============================================ -->
	<xsd:element name="TypeOfWheelchair" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation>Classification for TYPE OF WHEELCHAIR. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfWheelchair_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfWheelchairIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF WHEELCHAIR,</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfWheelchair_ValueStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF WHEELCHAIR.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
