xsd/netex_framework/netex_reusableComponents/netex_vehicleType_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_vehicleType_support">
	<xsd:include schemaLocation="netex_equipment_support.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2011-02-05</Modified>Name Space changes
				</Date>
				<Date><Modified>2012-04-15</Modified>Revise Passenger Capacity
				</Date>
				<Date><Modified>2019-04-09</Modified>Add list of vehicle type refs for PARKING and general use
				</Date>
				<Date><Modified>2020-08-11</Modified>Issue #110 Add missing fuel types
				electricContact, battery, dieselBatteryHybrid, petrolBatteryHybrid, biodiesel, hydrogen, liquidGas, methane, ethanol
				</Date>
				<Date><Modified>2020-10-04</Modified>NewModes: Add list of VEHICLEs.
						Add TransportType, SimpleVehicleType
						Add fuel types none, other, 
						ADd Power Tpe enumeration
						Add Vehicle PRofile
				</Date>
				<Date><Modified>2021-04-19</Modified>NewModes: GBFS compatibility Add car to vehicle Types
				</Date>
				<Date><Modified>2021-07-07</Modified>NewModes: Add extra fuel types from APDS
				</Date>
				<Date><Modified>2021-07-08</Modified>NewModes: Correction Add missing VehicleEquipmentProfile relationship to VehicleModel
				</Date>
				<Date><Modified>2023-01-30</Modified>TM CR: Enhancement Add Accepted Driver Permit
				</Date>
				<Date><Modified>2024-01-17</Modified>TM CR: Enhancement Add PASSENGER VEHICLE CAPACITY
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the VEHICLE TYPE identifier Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_vehicleType_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
					 <Copyright>CEN, Crown Copyright 2009-2020</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx VEHICLE TYPE types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ==== VEHICLE TYPE ==================================================== -->
	<xsd:complexType name="transportTypeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of TRANSPORT TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="TransportTypeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="TransportTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="TransportTypeRef" type="TransportTypeRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRANSPORT TYPE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransportTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="TransportTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a TRANSPORT TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== VEHICLE TYPE ==================================================== -->
	<xsd:complexType name="vehicleTypeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleTypeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TransportTypeIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleTypeRef" type="VehicleTypeRefStructure" substitutionGroup="TransportTypeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TransportTypeRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== VEHICLE TYPE ==================================================== -->
	<xsd:complexType name="simpleVehicleTypeRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PERSONAL TRANSPORT TYPEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="SimpleVehicleTypeRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="SimpleVehicleTypeIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PERSONAL TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TransportTypeIdType"/>
	</xsd:simpleType>
	<xsd:element name="SimpleVehicleTypeRef" type="SimpleVehicleTypeRefStructure" substitutionGroup="TransportTypeRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PERSONAL TRANSPORT TYPE. +v1.2.2</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="SimpleVehicleTypeRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PERSONAL TRANSPORT TYPE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TransportTypeRefStructure">
				<xsd:attribute name="ref" type="VehicleTypeIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE TYPE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== VEHICLE REQUIREMENT ======================================================== -->
	<xsd:simpleType name="VehicleRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRequirementRef" type="VehicleRequirementRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== PASSENGER CARRYING REQUIREMENT ======================================= -->
	<xsd:simpleType name="PassengerCarryingRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerCarryingRequirementRef" type="PassengerCarryingRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerCarryingRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="PassengerCarryingRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PASSENGER CARRYING REQUIREMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======= PASSENGER CAPACITY =========================================== -->
	<xsd:simpleType name="PassengerCapacityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerCapacityRef" type="PassengerCapacityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerCapacityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerCapacityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======= PASSENGER VEHICLE CAPACITY =========================================== -->
	<xsd:simpleType name="PassengerVehicleCapacityIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER VEHICLE CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerVehicleCapacityRef" type="PassengerVehicleCapacityRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER VEHICLE CAPACITY.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PassengerVehicleCapacityRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER VEHICLE CAPACITY.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="PassengerVehicleCapacityIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== VEHICLE MANOEVRING REQUIREMENT ================================================= -->
	<xsd:simpleType name="VehicleManoeuvringRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleManoeuvringRequirementRef" type="VehicleManoeuvringRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MANOEUVRING REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleManoeuvringRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="VehicleManoeuvringRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======= FACILITY REQUIREMENT =================================================== -->
	<xsd:simpleType name="FacilityRequirementIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a FACILITY REQUIRMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="VehicleRequirementIdType"/>
	</xsd:simpleType>
	<xsd:element name="FacilityRequirementRef" type="FacilityRequirementRefStructure" substitutionGroup="VehicleRequirementRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a FACILITY REQUIREMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="FacilityRequirementRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a FACILITY REQUIRMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VehicleRequirementRefStructure">
				<xsd:attribute name="ref" type="FacilityRequirementIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====== VEHICLE ================================================== -->
	<xsd:complexType name="vehicleRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleRef" type="VehicleRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== VEHICLE MODEL ======================================================= -->
	<xsd:simpleType name="VehicleModelIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleModelRef" type="VehicleModelRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleModelRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE MODEL.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleModelIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE MODEL.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======VEHICLE EQUIPMENT PROFILE ====================================================== -->
	<xsd:complexType name="vehicleEquipmentProfileRefs_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of VEHICLE EQUIPMENT PROFILEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="oneToManyRelationshipStructure">
				<xsd:sequence>
					<xsd:element ref="VehicleEquipmentProfileRef" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:simpleType name="VehicleEquipmentProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleEquipmentProfileRef" type="VehicleEquipmentProfileRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleEquipmentProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a VEHICLE EQUIPMENT PROFILE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="FuelTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of allowed values for file type.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="FuelTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="FuelTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for type of fuel.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="battery"/>
			<xsd:enumeration value="biodiesel"/>
			<xsd:enumeration value="diesel"/>
			<xsd:enumeration value="dieselBatteryHybrid"/>
			<xsd:enumeration value="electricContact"/>
			<xsd:enumeration value="electricity"/>
			<xsd:enumeration value="ethanol"/>
			<xsd:enumeration value="hydrogen"/>
			<xsd:enumeration value="liquidGas"/>
			<xsd:enumeration value="tpg"/>
			<xsd:enumeration value="methane"/>
			<xsd:enumeration value="naturalGas"/>
			<xsd:enumeration value="petrol"/>
			<xsd:enumeration value="petrolBatteryHybrid"/>
			<xsd:enumeration value="petrolLeaded"/>
			<xsd:enumeration value="petrolUnleaded"/>
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PropulsionTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of allowed values for propulsion type.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PropulsionTypeEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="PropulsionTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for type of power. +v1.2.2</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="combustion"/>
			<xsd:enumeration value="electric"/>
			<xsd:enumeration value="electricAssist"/>
			<xsd:enumeration value="hybrid"/>
			<xsd:enumeration value="human"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="LicenceRequirementsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for licence requirements </xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="full"/>
			<xsd:enumeration value="provisional"/>
			<xsd:enumeration value="additional"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VehicleOrientationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Vehicle Orientation.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="forwards"/>
			<xsd:enumeration value="backwards"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!--  ===== vehicle categories === -->
	<!-- Portable vehicles -->
	<xsd:simpleType name="PortableVehicleCategoryListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of Portable Wheeled VEHICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PortableVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="PortableVehicleCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Portable VEHICLE types. +V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="scooter"/>
			<xsd:enumeration value="eScooter"/>
			<xsd:enumeration value="cycle"/>
			<xsd:enumeration value="pedalCycle"/>
			<xsd:enumeration value="eCycle"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Personal vehicles -->
	<xsd:simpleType name="PersonalVehicleCategoryListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of Personal Wheeled VEhICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PersonalVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="PersonalVehicleCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Personal VEHICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="moped"/>
			<xsd:enumeration value="motorcycle"/>
			<xsd:enumeration value="motorcycleWithSidecar"/>
			<xsd:enumeration value="motorScooter"/>
			<xsd:enumeration value="twoWheeledVehicle"/>
			<xsd:enumeration value="threeWheeledVehicle"/>
			<xsd:enumeration value="car"/>
			<xsd:enumeration value="microCar"/>
			<xsd:enumeration value="miniCar"/>
			<xsd:enumeration value="smallCar"/>
			<xsd:enumeration value="passengerCar"/>
			<xsd:enumeration value="largeCar"/>
			<xsd:enumeration value="fourWheelDrive"/>
			<xsd:enumeration value="taxi"/>
			<xsd:enumeration value="camperCar"/>
			<xsd:enumeration value="caravan"/>
			<xsd:enumeration value="carWithTrailer"/>
			<xsd:enumeration value="carWithCaravan"/>
			<xsd:enumeration value="minibus"/>
			<xsd:enumeration value="minivan"/>
			<xsd:enumeration value="snowmobile"/>
			<xsd:enumeration value="undefined"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="allPassengerVehicles"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- Commercial Vehicles -->
	<xsd:simpleType name="CommercialVehicleCategoryListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of Wheeled commercial VEHICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CommercialVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="CommercialVehicleCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Wheeled commercial  VEHICLE types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bus"/>
			<xsd:enumeration value="van"/>
			<xsd:enumeration value="transporter"/>
			<xsd:enumeration value="largeVan"/>
			<xsd:enumeration value="highSidedVehicle"/>
			<xsd:enumeration value="lightGoodsVehicle"/>
			<xsd:enumeration value="heavyGoodsVehicle"/>
			<xsd:enumeration value="agriculturalVehicle"/>
			<xsd:enumeration value="tanker"/>
			<xsd:enumeration value="truck"/>
			<xsd:enumeration value="articulatedVehicle"/>
			<xsd:enumeration value="largeTrailer"/>
			<xsd:enumeration value="vehicleWithTrailer"/>
			<xsd:enumeration value="lightGoodsVehicleWithTrailer"/>
			<xsd:enumeration value="heavyGoodsVehicleWithTrailer"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- All Road vehicles -->
	<xsd:simpleType name="AllRoadVehicleCategoriesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of All road  Wheeled VEHICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="AllRoadVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="AllRoadVehicleCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>All road vehicle types.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="PortableVehicleCategoryEnumeration PersonalVehicleCategoryEnumeration CommercialVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<!-- All Simple Road vehicles -->
	<xsd:simpleType name="SimpleVehicleCategoriesListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>Allowed values for list of All road  Wheeled VEHICLE types.+V2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SimpleVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<xsd:simpleType name="SimpleVehicleCategoryEnumeration">
		<xsd:annotation>
			<xsd:documentation>All road vehicle types.</xsd:documentation>
		</xsd:annotation>
		<xsd:union memberTypes="PortableVehicleCategoryEnumeration PersonalVehicleCategoryEnumeration"/>
	</xsd:simpleType>
	<!-- ===== VEHICLE PROFILE ======================================================== -->
	<xsd:simpleType name="VehicleProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleProfileRef" type="VehicleProfileRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE PROFILE</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleProfileRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== PURPOSE OF EQUIPMENT =========================================================-->
	<xsd:simpleType name="PurposeOfEquipmentProfileIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="PurposeOfEquipmentProfileRef" type="PurposeOfEquipmentProfileRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="PurposeOfEquipmentProfileRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="PurposeOfEquipmentProfileIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a PURPOSE OF EQUIPMENT PROFILE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ====  ACCEPTED DRIVER PERMIT  ========================================================-->
	<xsd:simpleType name="AcceptedDriverPermitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ACCEPTED DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="AcceptedDriverPermitRef" type="AcceptedDriverPermitRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an ACCEPTED DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcceptedDriverPermitRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ACCEPTED DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="AcceptedDriverPermitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to an ACCEPTED DRIVER PERMIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ==== TYPE OF DRIVER PERMIT  =========================================================-->
	<xsd:simpleType name="TypeOfDriverPermitIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TYPE OF DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfDriverPermitRef" type="TypeOfDriverPermitRefStructure" abstract="false" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TypeOfDriverPermitRefStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF DRIVER PERMIT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfDriverPermitIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to a TYPE OF DRIVER PERMIT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ===== VEHICLE PEQUIPMENT PROFILE MEMBER ================================================ -->
	<xsd:simpleType name="VehicleEquipmentProfileMemberIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="VehicleEquipmentProfileMemberRef" type="VehicleEquipmentProfileMemberRefStructure" substitutionGroup="VersionOfObjectRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a VEHICLE EQUIPMENT PROFILE MEMBER</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="VehicleEquipmentProfileMemberRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a VEHICLE EQUIPMENT PROFILE MEMBER.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="VehicleEquipmentProfileMemberIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced VEHICLE EQUIPMENT PROFILE MEMBER</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
</xsd:schema>
