xsd/netex_framework/netex_reusableComponents/netex_equipment_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_equipment_support">
	<xsd:include schemaLocation="../netex_genericFramework/netex_place_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Date>
					<Modified>2014-03-16</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines EQUIPMENT identifier types </p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_equipment_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - EQUIPMENT types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEX: EQUIPMENT identifier types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="ObjectIdType"/>
	</xsd:simpleType>
	<xsd:element name="EquipmentRef" type="EquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Reference to EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForEquipmentRefStructure">
		<xsd:restriction base="NameOfClass">
			<xsd:enumeration value="AccessEquipment"/>
			<xsd:enumeration value="AccessVehicleEquipment"/>
			<xsd:enumeration value="ActivatedEquipment"/>
			<xsd:enumeration value="AssistanceBookingService"/>
			<xsd:enumeration value="AssistanceService"/>
			<xsd:enumeration value="BatteryEquipment"/>
			<xsd:enumeration value="BedEquipment"/>
			<xsd:enumeration value="CarPoolingService"/>
			<xsd:enumeration value="CateringService"/>
			<xsd:enumeration value="ChauffeuredVehicleService"/>
			<xsd:enumeration value="CommonVehicleService"/>
			<xsd:enumeration value="CommunicationService"/>
			<xsd:enumeration value="ComplaintsService"/>
			<xsd:enumeration value="CrossingEquipment"/>
			<xsd:enumeration value="CustomerService"/>
			<xsd:enumeration value="CycleStorageEquipment"/>
			<xsd:enumeration value="EntranceEquipment"/>
			<xsd:enumeration value="EntranceSensor"/>
			<xsd:enumeration value="Equipment"/>
			<xsd:enumeration value="EscalatorEquipment"/>
			<xsd:enumeration value="GeneralSign"/>
			<xsd:enumeration value="HeadingSign"/>
			<xsd:enumeration value="HelpPointEquipment"/>
			<xsd:enumeration value="HireService"/>
			<xsd:enumeration value="InstalledEquipment"/>
			<xsd:enumeration value="LeftLuggageService"/>
			<xsd:enumeration value="LiftCallEquipment"/>
			<xsd:enumeration value="LiftEquipment"/>
			<xsd:enumeration value="LocalService"/>
			<xsd:enumeration value="LostPropertyService"/>
			<xsd:enumeration value="LuggageLockerEquipment"/>
			<xsd:enumeration value="LuggageService"/>
			<xsd:enumeration value="LuggageSpotEquipment"/>
			<xsd:enumeration value="MeetingPointService"/>
			<xsd:enumeration value="MobilityService"/>
			<xsd:enumeration value="MoneyService"/>
			<xsd:enumeration value="OnlineService"/>
			<xsd:enumeration value="PassengerBeaconEquipment"/>
			<xsd:enumeration value="PassengerEquipment"/>
			<xsd:enumeration value="PassengerInformationEquipment"/>
			<xsd:enumeration value="PassengerSafetyEquipment"/>
			<xsd:enumeration value="PlaceEquipment"/>
			<xsd:enumeration value="PlaceSign"/>
			<xsd:enumeration value="QueueingEquipment"/>
			<xsd:enumeration value="RampEquipment"/>
			<xsd:enumeration value="RefuellingEquipment"/>
			<xsd:enumeration value="RetailDevice"/>
			<xsd:enumeration value="RetailService"/>
			<xsd:enumeration value="RoughSurface"/>
			<xsd:enumeration value="RubbishDisposalEquipment"/>
			<xsd:enumeration value="SanitaryEquipment"/>
			<xsd:enumeration value="SeatEquipment"/>
			<xsd:enumeration value="SeatingEquipment"/>
			<xsd:enumeration value="SensorEquipment"/>
			<xsd:enumeration value="ShelterEquipment"/>
			<xsd:enumeration value="SignEquipment"/>
			<xsd:enumeration value="SiteEquipment"/>
			<xsd:enumeration value="SpotEquipment"/>
			<xsd:enumeration value="SpotSensor"/>
			<xsd:enumeration value="StaircaseEquipment"/>
			<xsd:enumeration value="TaxiService"/>
			<xsd:enumeration value="TicketValidatorEquipment"/>
			<xsd:enumeration value="TicketingEquipment"/>
			<xsd:enumeration value="TicketingService"/>
			<xsd:enumeration value="TravelatorEquipment"/>
			<xsd:enumeration value="TrolleyStandEquipment"/>
			<xsd:enumeration value="VehicleChargingEquipment"/>
			<xsd:enumeration value="VehiclePoolingService"/>
			<xsd:enumeration value="VehicleReleaseEquipment"/>
			<xsd:enumeration value="VehicleRentalService"/>
			<xsd:enumeration value="VehicleSharingService"/>
			<xsd:enumeration value="WaitingEquipment"/>
			<xsd:enumeration value="WaitingRoomEquipment"/>
			<xsd:enumeration value="WheelchairVehicleEquipment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="VersionOfObjectRefStructure">
				<xsd:attribute name="ref" type="EquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForEquipmentRefStructure" default="Equipment">
					<xsd:annotation>
						<xsd:documentation>The natural class for EquipmentRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="InstalledEquipmentRef" type="InstalledEquipmentRefStructure" abstract="true" substitutionGroup="EquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to an INSTALLED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForInstalledEquipmentRefStructure">
		<xsd:restriction base="NameOfRefClassForEquipmentRefStructure">
			<xsd:enumeration value="AccessEquipment"/>
			<xsd:enumeration value="AccessVehicleEquipment"/>
			<xsd:enumeration value="BedEquipment"/>
			<xsd:enumeration value="CrossingEquipment"/>
			<xsd:enumeration value="CycleStorageEquipment"/>
			<xsd:enumeration value="EntranceEquipment"/>
			<xsd:enumeration value="EntranceSensor"/>
			<xsd:enumeration value="EscalatorEquipment"/>
			<xsd:enumeration value="GeneralSign"/>
			<xsd:enumeration value="HeadingSign"/>
			<xsd:enumeration value="HelpPointEquipment"/>
			<xsd:enumeration value="InstalledEquipment"/>
			<xsd:enumeration value="LiftCallEquipment"/>
			<xsd:enumeration value="LiftEquipment"/>
			<xsd:enumeration value="LuggageLockerEquipment"/>
			<xsd:enumeration value="LuggageSpotEquipment"/>
			<xsd:enumeration value="PassengerBeaconEquipment"/>
			<xsd:enumeration value="PassengerEquipment"/>
			<xsd:enumeration value="PassengerInformationEquipment"/>
			<xsd:enumeration value="PassengerSafetyEquipment"/>
			<xsd:enumeration value="PlaceEquipment"/>
			<xsd:enumeration value="PlaceSign"/>
			<xsd:enumeration value="QueueingEquipment"/>
			<xsd:enumeration value="RampEquipment"/>
			<xsd:enumeration value="RoughSurface"/>
			<xsd:enumeration value="RubbishDisposalEquipment"/>
			<xsd:enumeration value="SanitaryEquipment"/>
			<xsd:enumeration value="SeatEquipment"/>
			<xsd:enumeration value="SeatingEquipment"/>
			<xsd:enumeration value="SensorEquipment"/>
			<xsd:enumeration value="ShelterEquipment"/>
			<xsd:enumeration value="SignEquipment"/>
			<xsd:enumeration value="SiteEquipment"/>
			<xsd:enumeration value="SpotEquipment"/>
			<xsd:enumeration value="SpotSensor"/>
			<xsd:enumeration value="StaircaseEquipment"/>
			<xsd:enumeration value="TravelatorEquipment"/>
			<xsd:enumeration value="TrolleyStandEquipment"/>
			<xsd:enumeration value="VehicleReleaseEquipment"/>
			<xsd:enumeration value="WaitingEquipment"/>
			<xsd:enumeration value="WaitingRoomEquipment"/>
			<xsd:enumeration value="WheelchairVehicleEquipment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="InstalledEquipmentRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an INSTALLED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="EquipmentRefStructure">
				<xsd:attribute name="ref" type="InstalledEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an INSTALLED EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForInstalledEquipmentRefStructure">
					<xsd:annotation>
						<xsd:documentation>The natural class for InstalledEquipmentRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="InstalledEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an INSTALLED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="EquipmentIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TypeOfEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="TypeOfEquipmentRef" type="TypeOfEquipmentRefStructure" substitutionGroup="TypeOfEntityRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TYPE OF EQUIPMENT. Some values are defined for EPIAP: "mobileRamp" for mobile Ramps, "permanentRamp" for permanent installation and "wheelchairLift" for a hoist.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTypeOfEquipmentRefStructure">
		<xsd:restriction base="NameOfRefClassForTypeOfValueRefStructure">
			<xsd:enumeration value="TypeOfEquipment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TypeOfEquipmentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="TypeOfEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Reference to identifier of a TYPE OF EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTypeOfEquipmentRefStructure" fixed="TypeOfEquipment">
					<xsd:annotation>
						<xsd:documentation>The natural class for TypeOfEquipmentRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:simpleType name="EquipmentPositionIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an EQUIPMENT POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="EquipmentPositionRef" type="EquipmentPositionRefStructure" substitutionGroup="PlaceRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an EQUIPMENT POSITION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForEquipmentPositionRefStructure">
		<xsd:restriction base="NameOfRefClassForPlaceRefStructure">
			<xsd:enumeration value="EquipmentPosition"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EquipmentPositionRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an EQUIPMENT POSITION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="EquipmentPositionIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an EQUIPMENT POSITION.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForEquipmentPositionRefStructure" fixed="EquipmentPosition">
					<xsd:annotation>
						<xsd:documentation>The natural class for EquipmentPositionRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:simpleType name="EquipmentPlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an EQUIPMENT PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="EquipmentPlaceRef" type="EquipmentPlaceRefStructure" substitutionGroup="PlaceRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an EQUIPMENT PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForEquipmentPlaceRefStructure">
		<xsd:restriction base="NameOfRefClassForPlaceRefStructure">
			<xsd:enumeration value="EquipmentPlace"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="EquipmentPlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an EQUIPMENT PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="EquipmentPlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an EQUIPMENT PLACE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForEquipmentPlaceRefStructure" fixed="EquipmentPlace">
					<xsd:annotation>
						<xsd:documentation>The natural class for EquipmentPlaceRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="PassengerEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PASSENGER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<xsd:element name="PassengerEquipmentRef" type="InstalledEquipmentRefStructure" substitutionGroup="InstalledEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PASSENGER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPassengerEquipmentRefStructure">
		<xsd:restriction base="NameOfRefClassForInstalledEquipmentRefStructure">
			<xsd:enumeration value="AccessVehicleEquipment"/>
			<xsd:enumeration value="HelpPointEquipment"/>
			<xsd:enumeration value="PassengerBeaconEquipment"/>
			<xsd:enumeration value="PassengerSafetyEquipment"/>
			<xsd:enumeration value="RubbishDisposalEquipment"/>
			<xsd:enumeration value="SanitaryEquipment"/>
			<xsd:enumeration value="WheelchairVehicleEquipment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PassengerEquipmentRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a PASSENGER EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="PassengerEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POINT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPassengerEquipmentRefStructure">
					<xsd:annotation>
						<xsd:documentation>The natural class for PassengerEquipmentRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:element name="PlaceEquipmentRef" type="PlaceEquipmentRefStructure" abstract="true" substitutionGroup="InstalledEquipmentRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a PLACE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPlaceEquipmentRefStructure">
		<xsd:restriction base="NameOfRefClassForInstalledEquipmentRefStructure">
			<xsd:enumeration value="AccessEquipment"/>
			<xsd:enumeration value="CrossingEquipment"/>
			<xsd:enumeration value="EntranceEquipment"/>
			<xsd:enumeration value="EscalatorEquipment"/>
			<xsd:enumeration value="GeneralSign"/>
			<xsd:enumeration value="HeadingSign"/>
			<xsd:enumeration value="LiftCallEquipment"/>
			<xsd:enumeration value="LiftEquipment"/>
			<xsd:enumeration value="LuggageLockerEquipment"/>
			<xsd:enumeration value="PlaceEquipment"/>
			<xsd:enumeration value="PlaceSign"/>
			<xsd:enumeration value="QueueingEquipment"/>
			<xsd:enumeration value="RampEquipment"/>
			<xsd:enumeration value="RoughSurface"/>
			<xsd:enumeration value="SeatingEquipment"/>
			<xsd:enumeration value="ShelterEquipment"/>
			<xsd:enumeration value="SignEquipment"/>
			<xsd:enumeration value="SiteEquipment"/>
			<xsd:enumeration value="StaircaseEquipment"/>
			<xsd:enumeration value="TravelatorEquipment"/>
			<xsd:enumeration value="TrolleyStandEquipment"/>
			<xsd:enumeration value="WaitingEquipment"/>
			<xsd:enumeration value="WaitingRoomEquipment"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PlaceEquipmentRefStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an PLACE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="InstalledEquipmentRefStructure">
				<xsd:attribute name="ref" type="PlaceEquipmentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a PLACE EQUIPMENT.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPlaceEquipmentRefStructure">
					<xsd:annotation>
						<xsd:documentation>The natural class for PlaceEquipmentRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PlaceEquipmentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a PLACE EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="InstalledEquipmentIdType"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="EquipmentStatusEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for status of EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown"/>
			<xsd:enumeration value="available"/>
			<xsd:enumeration value="notAvailable"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
