xsd/netex_framework/netex_reusableComponents/netex_otherOrganisation_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_otherOrganisation_support">
	<xsd:include schemaLocation="../netex_genericFramework/netex_organisation_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2014-03-31</Modified>
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  OTHER ORGANISATION identifier  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_otherOrganisation_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - OTHER ORGANISATION  identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:OTHER ORGANISATION identifier  types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<xsd:simpleType name="OtherOrganisationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="OtherOrganisationRef" type="OtherOrganisationRefStructure" substitutionGroup="OrganisationRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForOtherOrganisationRefStructure">
		<xsd:restriction base="NameOfRefClassForOrganisationRefStructure">
			<xsd:enumeration value="GeneralOrganisation"/>
			<xsd:enumeration value="ManagementAgent"/>
			<xsd:enumeration value="OtherOrganisation"/>
			<xsd:enumeration value="ServicedOrganisation"/>
			<xsd:enumeration value="TravelAgent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="OtherOrganisationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an OTHER ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OrganisationRefStructure">
				<xsd:attribute name="ref" type="OtherOrganisationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of referenced entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForOtherOrganisationRefStructure" default="OtherOrganisation">
					<xsd:annotation>
						<xsd:documentation>The natural class for OtherOrganisationRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="TravelAgentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a TRAVEL AGENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OtherOrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="TravelAgentRef" type="TravelAgentRefStructure" substitutionGroup="OtherOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a TRAVEL AGENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForTravelAgentRefStructure">
		<xsd:restriction base="NameOfRefClassForOtherOrganisationRefStructure">
			<xsd:enumeration value="TravelAgent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="TravelAgentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TRAVEL AGENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OtherOrganisationRefStructure">
				<xsd:attribute name="ref" type="TravelAgentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of TRAVEL AGENT entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForTravelAgentRefStructure" fixed="TravelAgent">
					<xsd:annotation>
						<xsd:documentation>The natural class for TravelAgentRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ServicedOrganisationTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for SERVICED ORGANISATION type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="school"/>
			<xsd:enumeration value="college"/>
			<xsd:enumeration value="university"/>
			<xsd:enumeration value="militaryBase"/>
			<xsd:enumeration value="works"/>
			<xsd:enumeration value="retaiilCentre"/>
			<xsd:enumeration value="hospital"/>
			<xsd:enumeration value="governmentOffice"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ServicedOrganisationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a SERVICED ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OtherOrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="ServicedOrganisationRef" type="ServicedOrganisationRefStructure" substitutionGroup="OtherOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a SERVICED ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForServicedOrganisationRefStructure">
		<xsd:restriction base="NameOfRefClassForOtherOrganisationRefStructure">
			<xsd:enumeration value="ServicedOrganisation"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ServicedOrganisationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a SERVICED ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OtherOrganisationRefStructure">
				<xsd:attribute name="ref" type="ServicedOrganisationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of SERVICED ORGANISATION entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForServicedOrganisationRefStructure" fixed="ServicedOrganisation">
					<xsd:annotation>
						<xsd:documentation>The natural class for ServicedOrganisationRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="ManagementAgentIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a MANAGEMENT AGENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OtherOrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="ManagementAgentRef" type="ManagementAgentRefStructure" substitutionGroup="OtherOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a MANAGEMENT AGENT.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForManagementAgentRefStructure">
		<xsd:restriction base="NameOfRefClassForOtherOrganisationRefStructure">
			<xsd:enumeration value="ManagementAgent"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ManagementAgentRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a MANAGEMENT AGENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OtherOrganisationRefStructure">
				<xsd:attribute name="ref" type="ManagementAgentIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of MANAGEMENT AGENT entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForManagementAgentRefStructure" fixed="ManagementAgent">
					<xsd:annotation>
						<xsd:documentation>The natural class for ManagementAgentRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="GeneralOrganisationIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="OtherOrganisationIdType"/>
	</xsd:simpleType>
	<xsd:element name="GeneralOrganisationRef" type="GeneralOrganisationRefStructure" substitutionGroup="OtherOrganisationRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForGeneralOrganisationRefStructure">
		<xsd:restriction base="NameOfRefClassForOtherOrganisationRefStructure">
			<xsd:enumeration value="GeneralOrganisation"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="GeneralOrganisationRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a GENERAL ORGANISATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="OtherOrganisationRefStructure">
				<xsd:attribute name="ref" type="GeneralOrganisationIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of GENERAL ORGANISATION entity.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForGeneralOrganisationRefStructure" fixed="GeneralOrganisation">
					<xsd:annotation>
						<xsd:documentation>The natural class for GeneralOrganisationRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
</xsd:schema>
