xsd/netex_framework/netex_reusableComponents/netex_seatingPlan_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:netex="http://www.netex.org.uk/netex" xmlns:siri="http://www.siri.org.uk/siri" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_seatingPlan_version">
	<xsd:include schemaLocation="netex_vehicleType_version.xsd"/>
	<xsd:include schemaLocation="netex_seatingPlan_support.xsd"/>
	<xsd:include schemaLocation="netex_sensorEquipment_version.xsd"/>
	<xsd:include schemaLocation="netex_equipmentVehiclePassenger_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2023-01-30</Created>
				</Date>
				<Date><Modified>2024-02-18</Modified>Norway review comment - Revise AIsle /Window to use enumeration. Add  TableType enum.
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the DECK PLAN types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_seatingPlan_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
				  <Copyright>CEN, Crown Copyright  2022-204</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel,   standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx DECK PLAN types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SEATING PLAN data types</xsd:documentation>
	</xsd:annotation>
	<!-- ==== SPOT ROW==================================================== -->
	<xsd:complexType name="spotRows_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SPOT ROWs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SpotRow" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SpotRow" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A row of LOCATABLE SPOTs, e.g. seats, within a PASSENGER SPACE. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpotRow_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotRowGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotRowIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of SPOT ROW.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpotRow_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SPOT ROW.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SpotRowGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpotRowGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SPOT ROW.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of SPOT ROW.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberingFromFront" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether number of ROW starts at front.  Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== SPOT COLUMN ================================================= -->
	<xsd:complexType name="spotColumns_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SPOT COLUMNs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SpotColumn" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SpotColumn" substitutionGroup="VersionedChild">
		<xsd:annotation>
			<xsd:documentation>A designated File of LOCATABLE SPOTs within a PASSENGER SPACE, For example Column A, B, C, D. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpotColumn_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotColumnGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotColumnIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of SPOT COLUMN.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpotColumn_VersionStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SPOT COLUMN.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SpotColumnGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpotColumnGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SPOT COLUMN.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of SPOT COLUMN..</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="NumberingFromLeft" type="xsd:boolean" default="true" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether number of Colmns starts from left of vehicle, facing forward, or right. Default is true.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== EQUIPABLE SPACE ======================================================= -->
	<xsd:element name="EquipableSpace" type="EquipableSpace_VersionStructure" abstract="true" substitutionGroup="DataManagedObject">
		<xsd:annotation>
			<xsd:documentation>A place aboard a vehicle where ACTUAL VEHICLE EQUIPMENT may be located. +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="EquipableSpace_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a EQUIPABLE SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="DataManagedObjectStructure">
				<xsd:sequence>
					<xsd:group ref="EquipableSpaceGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a EQUIPABLE SPACE.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="EquipableSpaceGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an EQUIPABLE SPACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Label" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Lavel of EQUIPABLE SPACE. e.g. seat number.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Name" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Name of DECK COMPONENT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Description" type="MultilingualString" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description of EQUIPABLE SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Orientation" type="ComponentOrientationEnumeration" default="forwards" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Orientation of EQUIPABLE SPACE . Default is forwards.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:group ref="EquipableSpaceDimensionGroup"/>
			<xsd:element ref="FacilitySetRef" minOccurs="0"/>
			<xsd:element name="actualVehicleEquipments" type="actualVehicleEquipments_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>ACTUAL VEHICLE EQUIPMENT  for element.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="EquipableSpaceDimensionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for an EQUIPABLE SPACE dimensions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of EQUIPABLE SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of EQUIPABLE SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of EQUIPABLE SPACE.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ==== LOCATABLE SPOT ======================================================= -->
	<xsd:element name="LocatableSpot" type="LocatableSpot_VersionStructure" abstract="true" substitutionGroup="EquipableSpace">
		<xsd:annotation>
			<xsd:documentation>An identifiable individual area within a given PASSENGER SPACE, which may potentially be allocated to a single passenger or +v2.0</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LocatableSpot_VersionStructure" abstract="true">
		<xsd:annotation>
			<xsd:documentation>Type for a LOCATABLE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="EquipableSpace_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LocatableSpotGroup">
						<xsd:annotation>
							<xsd:documentation>Elements for a LOCATABLE SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:group>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LocatableSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LOCATABLE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="TypeOfLocatableSpotRef" minOccurs="0"/>
			<xsd:group ref="LocatableSpotRowColumnGroup"/>
			<xsd:element name="sensorsInSpot" type="sensorsInSpot_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>SPOT SENSORs in the LOCATABLE SPOT. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LocatableSpotDimensionGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LOCATABLE SPOT dimensions.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of LOCATABLE SPOT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of LOCATABLE SPOT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="Height" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of LOCATABLE SPOT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="LocatableSpotRowColumnGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LOCATABLE SPOT  Row and Columns.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="SpotRowRef" minOccurs="0"/>
			<xsd:element ref="SpotColumnRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== PASSENGER SPOT =================================== -->
	<xsd:complexType name="passengerSpots_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER SPOTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerSpotRef"/>
					<xsd:element ref="PassengerSpot"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PassengerSpot_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocatableSpot_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerSpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatContext" type="SeatContextEnumeration" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT is by an Aisle, window, etc.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="TableType" type="TableTypeEnumeration" minOccurs="0">
			<xsd:element name="ByAisle" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT is by Aisle.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ByWindow" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT is by Window</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="ByTable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT faces table.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasArmrest" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT has armrest</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LegSpace" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Leg space available.t</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasTray" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT has a tray</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasPower" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether PASSENGER SPOT has a powr socket</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== PASSENGER VEHICLE SPOT =================================== -->
	<xsd:element name="PassengerSpot" abstract="false" substitutionGroup="LocatableSpot">
		<xsd:annotation>
			<xsd:documentation>A designated seat or other space for a passenger within a given DECK SPACE. +v2.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerSpot_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipableSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a EQUIPABLE SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocatableSpotGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a LOCATABLE SPOT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerSpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerSpotIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="passengerVehicleSpots_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of PASSENGER VEHICLE SPOTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="PassengerVehicleSpotRef"/>
					<xsd:element ref="PassengerVehicleSpot"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="PassengerVehicleSpot" abstract="false" substitutionGroup="LocatableSpot">
		<xsd:annotation>
			<xsd:documentation>A  specified  onboard space to carry a vehicle (car, motorcycle, cycle, etc) within a given DECK SPACE. +v2.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="PassengerVehicleSpot_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipableSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a EQUIPABLE SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocatableSpotGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a LOCATABLE SPOT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="PassengerVehicleSpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="PassengerVehicleSpotIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of PASSENGER VEHICLE SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="PassengerVehicleSpot_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a PASSENGER VEHICLE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocatableSpot_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="PassengerVehicleSpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="PassengerVehicleSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a PASSENGER VEHICLE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="VehicleCategories" type="AllRoadVehicleCategoriesListOfEnumerations" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Vehicle categories that may use PASSENGER VEHICLE SPOT.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="transportTypes" type="transportTypeRefs_RelStructure" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Types of Transport that may use PASSENGER VEHICLE SPOT. </xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ====== LUGGAGE SPOT =================================== -->
	<xsd:complexType name="luggageSpots_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of LUGGAGE SPOTs.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="containmentAggregationStructure">
				<xsd:choice maxOccurs="unbounded">
					<xsd:element ref="LuggageSpotRef"/>
					<xsd:element ref="LuggageSpot"/>
				</xsd:choice>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="LuggageSpot" abstract="false" substitutionGroup="LocatableSpot">
		<xsd:annotation>
			<xsd:documentation> A specified space to stow a passenger's luggage onboard. +v2.0.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LuggageSpot_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipableSpaceGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a EQUIPABLE SPACE.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LocatableSpotGroup">
								<xsd:annotation>
									<xsd:documentation>Elements for a LOCATABLE SPOT.</xsd:documentation>
								</xsd:annotation>
							</xsd:group>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LuggageSpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LuggageSpotIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of LUGGAGE SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LuggageSpot_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LUGGAGE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="LocatableSpot_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LuggageSpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LuggageSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a LUGGAGE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="HeightFromFloor" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of LUGGAGE SPOT from floor.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- ========= TYPE OF LOCATABLE SPOT ============================================ -->
	<xsd:element name="TypeOfLocatableSpot" abstract="false" substitutionGroup="TypeOfValue">
		<xsd:annotation>
			<xsd:documentation> Classification for LOCATABLE SPOT. +v2.0.
+v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="TypeOfLocatableSpot_ValueStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="TypeOfValueGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="TypeOfLocatableSpotIdType">
						<xsd:annotation>
							<xsd:documentation>Identifier of TYPE OF LOCATABLE SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="TypeOfLocatableSpot_ValueStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a TYPE OF LOCATABLE SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="TypeOfValue_VersionStructure"/>
		</xsd:complexContent>
	</xsd:complexType>
	<!-- ====== SENSOR IN SPOT =================================== -->
	<xsd:complexType name="sensorsInSpot_RelStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a list of SENSORs in SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="strictContainmentAggregationStructure">
				<xsd:sequence>
					<xsd:element ref="SensorInSpot" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:element name="SensorInSpot">
		<xsd:annotation>
			<xsd:documentation>Use of a specific SPOT SENSOR to monitor  a specific LOCATABLE SPOT. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SensorInSpot_VersionedChildStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="VersionedChildGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SensorInSpotGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SensorInSpotIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of SENSOR IN SPOT.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SensorInSpot_VersionedChildStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a SENSOR IN SPOT </xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="VersionedChildStructure">
				<xsd:sequence>
					<xsd:group ref="SensorInSpotGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SensorInSpotGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for a SENSOR IN SPOT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="LocatableSpotRef" minOccurs="0"/>
			<xsd:element ref="SpotSensorRef" minOccurs="0"/>
		</xsd:sequence>
	</xsd:group>
	<!-- ======================================================================= -->
</xsd:schema>

