xsd/netex_framework/netex_reusableComponents/netex_travelRights_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_travelRights_support">
	<xsd:include schemaLocation="../netex_responsibility/netex_responsibility_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles.  mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date><Modified>2014-07-15</Modified> Add PurchaseMoment enum
				</Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines  NetEX:TRAVEL RIGHTS identifier  types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}netex_travelRights_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the SIRI standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - NetEX:TRAVEL RIGHTS identifier  types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NetEX:TRAVEL RIGHTs identifier  types for NeTEx Network Exchange.</xsd:documentation>
	</xsd:annotation>
	<xsd:simpleType name="ClassOfUseIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="TypeOfValueIdType"/>
	</xsd:simpleType>
	<xsd:element name="ClassOfUseRef" substitutionGroup="TypeOfValueRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ClassOfUseRefStructure"/>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ClassOfUseRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a CLASS OF USE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="TypeOfValueRefStructure">
				<xsd:attribute name="ref" type="ClassOfUseIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a CLASS OF USE.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!-- =================================================== -->
	<xsd:simpleType name="FareClassEnumeration">
		<xsd:annotation>
			<xsd:documentation>Values for Fare Class Facility.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="unknown">
				<xsd:annotation>
					<xsd:documentation>pti23_0</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="firstClass">
				<xsd:annotation>
					<xsd:documentation>pti23_6</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="secondClass ">
				<xsd:annotation>
					<xsd:documentation>pti23_7</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="thirdClass">
				<xsd:annotation>
					<xsd:documentation>pti23_8</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="preferente"/>
			<xsd:enumeration value="premiumClass">
				<xsd:annotation>
					<xsd:documentation>pti23_6_1</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="businessClass">
				<xsd:annotation>
					<xsd:documentation>Busienss Class - pti23_10</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="standardClass">
				<xsd:annotation>
					<xsd:documentation>Standard class Add pti23_7</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="turista"/>
			<xsd:enumeration value="economyClass">
				<xsd:annotation>
					<xsd:documentation>pti23_9</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="any"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="ReservationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Reservation. UIC 7037 Code list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="reservationsCompulsory"/>
			<xsd:enumeration value="reservationsCompulsoryForGroups"/>
			<xsd:enumeration value="reservationsCompulsoryForFirstClass"/>
			<xsd:enumeration value="reservationsCompulsoryFromOriginStation"/>
			<xsd:enumeration value="reservationsRecommended"/>
			<xsd:enumeration value="reservationsPossible"/>
			<xsd:enumeration value="reservationsPossibleOnlyInFirstClass"/>
			<xsd:enumeration value="reservationsPossibleOnlyInSecondClass"/>
			<xsd:enumeration value="reservationsPossibleForCertainClasses"/>
			<xsd:enumeration value="groupBookingRestricted"/>
			<xsd:enumeration value="noGroupsAllowed"/>
			<xsd:enumeration value="noReservationsPossible"/>
			<xsd:enumeration value="wheelchairOnlyReservations"/>
			<xsd:enumeration value="bicycleReservationsCompulsory"/>
			<xsd:enumeration value="reservationsSupplementCharged"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="ReservationListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Reservation values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="ReservationEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BookingMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Flexible Booking method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="callDriver"/>
			<xsd:enumeration value="callOffice"/>
			<xsd:enumeration value="online"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="phoneAtStop"/>
			<xsd:enumeration value="text"/>
			<xsd:enumeration value="none"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BookingMethodListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of values for Flexible Booking values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="BookingMethodEnumeration"/>
	</xsd:simpleType>
	<!-- ======================================================================= -->
	<xsd:simpleType name="BookingAccessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Booking Access.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="public"/>
			<xsd:enumeration value="authorisedPublic"/>
			<xsd:enumeration value="staff"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="PurchaseWhenEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Purchase when.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="timeOfTravelOnly"/>
			<xsd:enumeration value="dayOfTravelOnly"/>
			<xsd:enumeration value="untilPreviousDay"/>
			<xsd:enumeration value="advanceOnly"/>
			<xsd:enumeration value="advanceAndDayOfTravel"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="PurchaseMomentEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Purchase Moment.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="onReservation"/>
			<xsd:enumeration value="beforeBoarding"/>
			<xsd:enumeration value="onBoarding"/>
			<xsd:enumeration value="afterBoarding"/>
			<xsd:enumeration value="onCheckOut"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PurchaseMomentListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Purchase Moment. values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PurchaseMomentEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="BookingProcessEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Booking Process UIC 7037 Code list.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="productNotAvailable"/>
			<xsd:enumeration value="productNotBookable"/>
			<xsd:enumeration value="bookableThroughInternationalSystem"/>
			<xsd:enumeration value="bookableThroughNationalSystem"/>
			<xsd:enumeration value="bookableManuallly"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BookingProcessListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Booking Process values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="BookingProcessEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="GroupBookingEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Group Booking.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="groupsAllowed"/>
			<xsd:enumeration value="groupsNotAllowed"/>
			<xsd:enumeration value="groupsAllowedWithReservation"/>
			<xsd:enumeration value="groupBookingsRestricted"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="GroupBookingListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Group Booking values.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="GroupBookingEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CateringRightsEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Catering rights.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="mealIncluded"/>
			<xsd:enumeration value="mealIncludedForFirstClassPassengers"/>
			<xsd:enumeration value="noMealIncluded"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CateringServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for CATERING SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="bar"/>
			<xsd:enumeration value="beverageVendingMachine"/>
			<xsd:enumeration value="buffet"/>
			<xsd:enumeration value="coffeeShop"/>
			<xsd:enumeration value="firstClassRestaurant"/>
			<xsd:enumeration value="foodVendingMachine"/>
			<xsd:enumeration value="hotFoodService"/>
			<xsd:enumeration value="restaurant"/>
			<xsd:enumeration value="snacks"/>
			<xsd:enumeration value="trolleyService"/>
			<xsd:enumeration value="noBeveragesAvailable"/>
			<xsd:enumeration value="noFoodServiceAvailable"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CateringServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of CATERING SERVICEs.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CateringServiceEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CyclesOnServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Cycles on Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="notAllowed"/>
			<xsd:enumeration value="onlyFoldingAllowed"/>
			<xsd:enumeration value="allowedSubjectToRestrictions"/>
			<xsd:enumeration value="mustBook"/>
			<xsd:enumeration value="allowedAtAllTimes"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="CommunicationServiceEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Communication Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="freeWifi"/>
			<xsd:enumeration value="publicWifi"/>
			<xsd:enumeration value="phone"/>
			<xsd:enumeration value="internet"/>
			<xsd:enumeration value="mobileCoverage"/>
			<xsd:enumeration value="videoEntertainment"/>
			<xsd:enumeration value="audioEntertainment"/>
			<xsd:enumeration value="postbox"/>
			<xsd:enumeration value="postOffice"/>
			<xsd:enumeration value="businessServices"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="CommunicationServiceListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Communication Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="CommunicationServiceEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="GenderLimitationEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for GENDER LIMITATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="both"/>
			<xsd:enumeration value="femaleOnly"/>
			<xsd:enumeration value="maleOnly"/>
			<xsd:enumeration value="sameSexOnly"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="PaymentMethodEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Payment method.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="cash"/>
			<xsd:enumeration value="cashAndCard"/>
			<xsd:enumeration value="coin"/>
			<xsd:enumeration value="banknote"/>
			<xsd:enumeration value="cheque"/>
			<xsd:enumeration value="travellersCheque"/>
			<xsd:enumeration value="postalOrder"/>
			<xsd:enumeration value="companyCheque"/>
			<xsd:enumeration value="creditCard"/>
			<xsd:enumeration value="debitCard"/>
			<xsd:enumeration value="cardsOnly"/>
			<xsd:enumeration value="travelCard"/>
			<xsd:enumeration value="contactlessPaymentCard"/>
			<xsd:enumeration value="contactlessTravelCard"/>
			<xsd:enumeration value="sms"/>
			<xsd:enumeration value="mobilePhone"/>
			<xsd:enumeration value="voucher"/>
			<xsd:enumeration value="token"/>
			<xsd:enumeration value="warrant"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="PaymentMethodListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of payment methods.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="PaymentMethodEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="SanitaryFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed values for Sanitary Facility Type.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="none"/>
			<xsd:enumeration value="toilet"/>
			<xsd:enumeration value="wheelChairAccessToilet"/>
			<xsd:enumeration value="shower"/>
			<xsd:enumeration value="washingAndChangeFacilities"/>
			<xsd:enumeration value="babyChange"/>
			<xsd:enumeration value="wheelchairBabyChange"/>
			<xsd:enumeration value="shoeShiner"/>
			<xsd:enumeration value="other"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="SanitaryFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Sanitary Facilities.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="SanitaryFacilityEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="TicketTypeEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Ticket Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="standard"/>
			<xsd:enumeration value="promotion"/>
			<xsd:enumeration value="concession"/>
			<xsd:enumeration value="group"/>
			<xsd:enumeration value="season"/>
			<xsd:enumeration value="carnet"/>
			<xsd:enumeration value="travelCard"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketTypeListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Ticket Types.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketTypeEnumeration"/>
	</xsd:simpleType>
	<!-- =================================================== -->
	<xsd:simpleType name="TicketingServiceFacilityEnumeration">
		<xsd:annotation>
			<xsd:documentation>Allowed value for Ticketing Service.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:normalizedString">
			<xsd:enumeration value="purchase"/>
			<xsd:enumeration value="collection"/>
			<xsd:enumeration value="cardTopUp"/>
			<xsd:enumeration value="reservations"/>
			<xsd:enumeration value="exchange"/>
			<xsd:enumeration value="refund"/>
			<xsd:enumeration value="renewal"/>
			<xsd:enumeration value="excessFares"/>
			<xsd:enumeration value="other"/>
			<xsd:enumeration value="all"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="TicketingServiceFacilityListOfEnumerations">
		<xsd:annotation>
			<xsd:documentation>List of Ticketing Services.</xsd:documentation>
		</xsd:annotation>
		<xsd:list itemType="TicketingServiceFacilityEnumeration"/>
	</xsd:simpleType>
</xsd:schema>
