xsd/netex_framework/netex_reusableComponents/netex_address_support.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" id="netex_address_support">
	<xsd:include schemaLocation="../netex_genericFramework/netex_place_support.xsd"/>
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>V1.0 Christophe Duquesne</Contributor>
				<Contributor>Nicholas Knowles</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for NeTEx version 1.0 CEN TC278 WG3 SG9 Editor Nicholas Knowles.</Creator>
				<Date>
					<Created>2010-09-04</Created>
				</Date>
				<Date>
					<Modified>2011-02-05</Modified>
				</Date>
				<Description>
					<p>NeTEx is a European CEN standard for the exchange of Public Transport data including timetables.</p>
					<p>This sub-schema describes the ACCESS Types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_framework/netex_reusableComponents}anetex_address_support.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX </Publisher>
				<Relation>
					<Requires>http://www.netex.org.uk/schemas/1.0/PATH/netex_prereqfile.xsd</Requires>
				</Relation>
				<Rights>Unclassified
 <Copyright>CEN, Crown Copyright 2009-2014</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the Transmodel, VDV, TransXChange, NEPTUNE, BISON and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
Air transport, Airports,
Ports and maritime transport, Ferries (marine),
Public transport, Bus services, Coach services, Bus stops and stations,
Rail transport, Railway stations and track, Train services, Underground trains,
Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
Rail transport, Roads and Road transport
</Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx ACCESS Types.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>NeTEx ADDRESS Identifier types.</xsd:documentation>
	</xsd:annotation>
	<!-- ======================================================================= -->
	<!--=============================================================================-->
	<xsd:simpleType name="AddressIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="AddressRef" type="AddressRefStructure" substitutionGroup="PlaceRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an ADDRESS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForAddressRefStructure">
		<xsd:restriction base="NameOfRefClassForPlaceRefStructure">
			<xsd:enumeration value="Address"/>
			<xsd:enumeration value="GroupOfEntities"/>
			<xsd:enumeration value="PostalAddress"/>
			<xsd:enumeration value="RoadAddress"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="AddressIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an ADDRESS.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForAddressRefStructure" default="Address">
					<xsd:annotation>
						<xsd:documentation>The natural class for AddressRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:simpleType name="AddressablePlaceIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of an ADDRESSED PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="PlaceIdType"/>
	</xsd:simpleType>
	<xsd:element name="AddressablePlaceRef" type="AddressablePlaceRefStructure" substitutionGroup="PlaceRef_">
		<xsd:annotation>
			<xsd:documentation>Reference to an ADDRESSED PLACE.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForAddressablePlaceRefStructure">
		<xsd:restriction base="NameOfRefClassForPlaceRefStructure">
			<xsd:enumeration value="AccessSpace"/>
			<xsd:enumeration value="AddressablePlace"/>
			<xsd:enumeration value="BoardingPosition"/>
			<xsd:enumeration value="Entrance"/>
			<xsd:enumeration value="Garage"/>
			<xsd:enumeration value="GroupOfEntities"/>
			<xsd:enumeration value="MonitoredVehicleSharingParkingBay"/>
			<xsd:enumeration value="Parking"/>
			<xsd:enumeration value="ParkingArea"/>
			<xsd:enumeration value="ParkingBay"/>
			<xsd:enumeration value="ParkingEntranceForVehicles"/>
			<xsd:enumeration value="ParkingPassengerEntrance"/>
			<xsd:enumeration value="PointOfInterest"/>
			<xsd:enumeration value="PointOfInterestEntrance"/>
			<xsd:enumeration value="PointOfInterestSpace"/>
			<xsd:enumeration value="PointOfInterestVehicleEntrance"/>
			<xsd:enumeration value="Quay"/>
			<xsd:enumeration value="ServiceSite"/>
			<xsd:enumeration value="Site"/>
			<xsd:enumeration value="SiteComponent"/>
			<xsd:enumeration value="SiteElement"/>
			<xsd:enumeration value="StopPlace"/>
			<xsd:enumeration value="StopPlaceEntrance"/>
			<xsd:enumeration value="StopPlaceSpace"/>
			<xsd:enumeration value="StopPlaceVehicleEntrance"/>
			<xsd:enumeration value="TaxiParkingArea"/>
			<xsd:enumeration value="TaxiRank"/>
			<xsd:enumeration value="TaxiStand"/>
			<xsd:enumeration value="VehicleEntrance"/>
			<xsd:enumeration value="VehicleMeetingPlace"/>
			<xsd:enumeration value="VehiclePoolingMeetingPlace"/>
			<xsd:enumeration value="VehiclePoolingParkingArea"/>
			<xsd:enumeration value="VehiclePoolingParkingBay"/>
			<xsd:enumeration value="VehicleSharingParkingArea"/>
			<xsd:enumeration value="VehicleSharingParkingBay"/>
			<xsd:enumeration value="VehicleStoppingPlace"/>
			<xsd:enumeration value="VehicleStoppingPosition"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="AddressablePlaceRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to an ADDRESSED PLACE.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="PlaceRefStructure">
				<xsd:attribute name="ref" type="AddressablePlaceIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of an AddressedPlace.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForAddressablePlaceRefStructure" default="AddressablePlace">
					<xsd:annotation>
						<xsd:documentation>The natural class for AddressablePlaceRefStructure and alternative options, automatically updated. Must be provided when referencing an other class.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--=============================================================================-->
	<xsd:simpleType name="RoadAddressIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a Road ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AddressIdType"/>
	</xsd:simpleType>
	<xsd:element name="RoadAddressRef" type="RoadAddressRefStructure" substitutionGroup="AddressRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a Road ADDRESS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForRoadAddressRefStructure">
		<xsd:restriction base="NameOfRefClassForAddressRefStructure">
			<xsd:enumeration value="RoadAddress"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="RoadAddressRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AddressRefStructure">
				<xsd:attribute name="ref" type="RoadAddressIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a ROAD ADDRESS.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForRoadAddressRefStructure" fixed="RoadAddress">
					<xsd:annotation>
						<xsd:documentation>The natural class for RoadAddressRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="PostalAddressIdType">
		<xsd:annotation>
			<xsd:documentation>Type for identifier of a POSTAL ADDRESS.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="AddressIdType"/>
	</xsd:simpleType>
	<xsd:element name="PostalAddressRef" type="PostalAddressRefStructure" substitutionGroup="AddressRef">
		<xsd:annotation>
			<xsd:documentation>Reference to a POSTAL ADDRESS.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:simpleType name="NameOfRefClassForPostalAddressRefStructure">
		<xsd:restriction base="NameOfRefClassForAddressRefStructure">
			<xsd:enumeration value="PostalAddress"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="PostalAddressRefStructure">
		<xsd:annotation>
			<xsd:documentation>Type for a reference to a TYPE OF ACTIVATION.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:restriction base="AddressRefStructure">
				<xsd:attribute name="ref" type="PostalAddressIdType" use="required">
					<xsd:annotation>
						<xsd:documentation>Identifier of a POSTAL ADDRESS.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
				<xsd:attribute name="nameOfRefClass" use="optional" type="NameOfRefClassForPostalAddressRefStructure" fixed="PostalAddress">
					<xsd:annotation>
						<xsd:documentation>The natural class for PostalAddressRefStructure, automatically updated.</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:restriction>
		</xsd:simpleContent>
	</xsd:complexType>
	<!--=============================================================================-->
</xsd:schema>
