xsd/netex_framework/netex_reusableComponents/netex_spotEquipment_version.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.netex.org.uk/netex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:netex="http://www.netex.org.uk/netex" targetNamespace="http://www.netex.org.uk/netex" elementFormDefault="qualified" attributeFormDefault="unqualified" version="2.0" id="netex_spotEquipment_version">
	<xsd:include schemaLocation="../netex_utility/netex_units.xsd"/>
	<xsd:include schemaLocation="netex_spotEquipment_support.xsd"/>
	<xsd:include schemaLocation="netex_equipment_version.xsd"/>
	<!-- ======================================================================= -->
	<xsd:annotation>
		<xsd:appinfo>
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Coverage>Europe</Coverage>
				<Creator>First drafted for version 1.0 CEN TC278 WG3 SG6 Editor Nicholas Knowles. mailto:schemer@netex.org.uk</Creator>
				<Date>
					<Created>2023-02-06</Created>
				</Date>
				<Date>
					<Modified>2023-02-06</Modified>
          Definition of CycleStorage number of spaces corrected. Doc change only.
        </Date>
				<Description>
					<p>NeTEx - Network Exchange. This subschema defines SPOT EQUIPMENT base types.</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.netex.org.uk/schemas/1.0/xsd/netex_part_1/part1_ifopt}netex_spotEquipment_version.xsd</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom Software Ltd, 16 High Holborn, London WC1V 6BX</Publisher>
				<Rights>
          Unclassified
          <Copyright>CEN, Crown Copyright 2009-2023</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>Derived from the TransModel standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
            Air transport, Airports,
            Ports and maritime transport, Ferries (marine),
            Public transport, Bus services, Coach
            services, Bus stops and stations,
            Rail transport, Railway stations and track, Train services, Underground trains,
            Business and industry, Transport, Air transport , Ports and maritime
            transport, Public transport,
            Rail transport, Roads and Road transport
          </Category>
					<Project>CEN TC278 WG3 SG9.</Project>
				</Subject>
				<Title>NeTEx Network Exchange - SPOT Types of Equipment.</Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
		<xsd:documentation>SPOT EQUIPMENT types for NeTEx.</xsd:documentation>
	</xsd:annotation>
	<!-- === SPOT EQUIPMENT ============================================ -->
	<xsd:element name="SpotEquipment_" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>An abstract EQUIPMENT in a LOCATABLE SPOT providing a onboard seat, bed or other amenity. +V2.0
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="InstalledEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="SpotEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>An abstract EQUIPMENT in a LOCATABLE SPOT providing a onboard seat, bed or other amenity. +V2.0
</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SpotEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SpotEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SpotEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="InstalledEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SpotEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SpotEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SPOT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Width" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Width of seat bottom.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HeightFromFloor" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height from bloor</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="PowerSupply" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether spot has power supply socket.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="UsbPowerSocket" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether Spot has UsbPowerSockets.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === SEAT EQUIPMENT ============================================ -->
	<xsd:element name="SeatEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>A specialisation of SPOT EQUIPMENT describing the detailed properties of a seat. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="SeatEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SeatEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="SeatEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="SeatEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a SEAT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpotEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="SeatEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="SeatEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for SEAT EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SeatBackHeight" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Height of Seat back from seat bottom.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="SeatDepth" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Depgth of Seat   from front to back.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsFoldup" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether seat folds up. default is false</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsReclining" type="xsd:boolean" default="false" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether seat reclines. Deafult sis false.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === BED EQUIPMENT ============================================ -->
	<xsd:element name="BedEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>A specialisation of SPOT EQUIPMENT describing the detailed properties of a bed. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="BedEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="BedEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="BedEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="BedEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a BED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpotEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="BedEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="BedEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for BED EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Length" type="LengthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Length of bedt back from seat bottom.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="IsStowable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether bed can be stowed away when not in use.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<!-- === LUGGAGE BAY EQUIPMENT ============================================ -->
	<xsd:element name="LuggageBayEquipment" substitutionGroup="InstalledEquipment">
		<xsd:annotation>
			<xsd:documentation>A specialisation of SPOT EQUIPMENT describing the detailed properties of a luggage bay. +v2.0</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:restriction base="LuggageBayEquipment_VersionStructure">
					<xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EntityInVersionGroup" minOccurs="0"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="DataManagedObjectGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="EquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="SpotEquipmentGroup"/>
						</xsd:sequence>
						<xsd:sequence>
							<xsd:group ref="LuggageBayEquipmentGroup"/>
						</xsd:sequence>
					</xsd:sequence>
					<xsd:attribute name="id" type="LuggageBayEquipmentIdType" use="optional">
						<xsd:annotation>
							<xsd:documentation>Identifier of ENTITY.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:restriction>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="LuggageBayEquipment_VersionStructure" abstract="false">
		<xsd:annotation>
			<xsd:documentation>Type for a LUGGAGE BAY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="SpotEquipment_VersionStructure">
				<xsd:sequence>
					<xsd:group ref="LuggageBayEquipmentGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LuggageBayEquipmentGroup">
		<xsd:annotation>
			<xsd:documentation>Elements for LUGGAGE BAY EQUIPMENT.</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="IsLockable" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether bay is lockable.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="HasDoor" type="xsd:boolean" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Whether bay is has a door.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
</xsd:schema>
